USE [db_kotear]
GO
/****** Object:  Table [dbo].[KO_ESTADO_TRANSACCION]    Script Date: 01/25/2010 22:04:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KO_ESTADO_TRANSACCION](
	[ID_ESTADO_TRANSACCION] [int] NOT NULL,
	[DES] [varchar](20) NOT NULL,
 CONSTRAINT [KO_ESTADO_TRANSACCION_PK] PRIMARY KEY CLUSTERED 
(
	[ID_ESTADO_TRANSACCION] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [KO_PK_ESTADO_TRANS] ON [dbo].[KO_ESTADO_TRANSACCION] 
(
	[ID_ESTADO_TRANSACCION] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KO_TRANSACCION]    Script Date: 01/25/2010 22:04:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KO_TRANSACCION](
	[ID_TRANSACCION] [bigint] NOT NULL,
	[FEC_REG] [datetime] NULL,
	[COMENT] [varchar](50) NULL,
	[TIPO_CAMBIO_ID] [int] NULL,
	[REGLA_COMPRADOR] [bit] NULL,
	[REGLA_VENDEDOR] [bit] NULL,
	[PRECIO] [decimal](10, 2) NULL,
	[ID_ESTADO_TRANSACCION] [int] NULL,
	[ID_OFERTA] [bigint] NULL,
 CONSTRAINT [KO_TRANSACCION_PK] PRIMARY KEY CLUSTERED 
(
	[ID_TRANSACCION] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [KO_PK_TRANSACCION] ON [dbo].[KO_TRANSACCION] 
(
	[ID_TRANSACCION] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KO_CIERRE_TRANSACCION]    Script Date: 01/25/2010 22:04:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KO_CIERRE_TRANSACCION](
	[ID_CIERRE_TRANSACCION] [bigint] NOT NULL,
	[ID_TRANSACCION] [bigint] NOT NULL,
	[DES] [varchar](50) NULL,
	[FEC_TRANSACCION] [datetime] NULL,
	[COMISION] [decimal](10, 2) NULL,
	[FLAG_CIERRE] [bit] NULL,
 CONSTRAINT [KO_CIERRE_TRANSACCION_PK] PRIMARY KEY CLUSTERED 
(
	[ID_CIERRE_TRANSACCION] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KO_UBIGEO]    Script Date: 01/25/2010 22:04:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KO_UBIGEO](
	[ID_UBIGEO] [varchar](6) NOT NULL,
	[COD_DPTO] [varchar](4) NULL,
	[COD_PROV] [varchar](2) NULL,
	[NOM] [varchar](30) NOT NULL,
 CONSTRAINT [KO_PK_UBIGEO] PRIMARY KEY CLUSTERED 
(
	[ID_UBIGEO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KO_TIPO_DOC]    Script Date: 01/25/2010 22:04:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KO_TIPO_DOC](
	[ID_TIPO_DOC] [varchar](2) NOT NULL,
	[DES_CORTA] [varchar](10) NOT NULL,
	[DES_LARGA] [varchar](30) NOT NULL,
 CONSTRAINT [KO_PK_TIPO_DOC] PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_DOC] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KO_USUARIO]    Script Date: 01/25/2010 22:04:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KO_USUARIO](
	[ID_TIPO_DOC] [varchar](2) NULL,
	[ID_USR] [bigint] NOT NULL,
	[PASSWORD] [varchar](100) NULL,
	[EMAIL] [varchar](50) NOT NULL,
	[NOM] [varchar](40) NOT NULL,
	[APEL] [varchar](50) NOT NULL,
	[NRO_DOC] [varchar](20) NULL,
	[FONO1] [varchar](15) NULL,
	[FONO2] [varchar](15) NULL,
	[FONO1_ANEXO] [varchar](4) NULL,
	[ID_UBIGEO] [varchar](6) NULL,
	[LOCALIDAD] [varchar](50) NULL,
 CONSTRAINT [KO_USUARIO_PK] PRIMARY KEY CLUSTERED 
(
	[ID_USR] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [KO_PK_USUARIO] ON [dbo].[KO_USUARIO] 
(
	[ID_USR] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KO_TIPO_USUARIO]    Script Date: 01/25/2010 22:04:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KO_TIPO_USUARIO](
	[ID_TIPO_USUARIO] [int] NOT NULL,
	[DES] [varchar](50) NOT NULL,
 CONSTRAINT [KO_TIPO_USUARIO_PK] PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_USUARIO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [KO_PK_TIPO_USUARIO] ON [dbo].[KO_TIPO_USUARIO] 
(
	[ID_TIPO_USUARIO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KO_ESTADO_USUARIO]    Script Date: 01/25/2010 22:04:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KO_ESTADO_USUARIO](
	[NOM] [varchar](20) NOT NULL,
	[ID_ESTADO_USUARIO] [int] NOT NULL,
 CONSTRAINT [KO_PK_ESTADO_USUARIO] PRIMARY KEY CLUSTERED 
(
	[ID_ESTADO_USUARIO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KO_USUARIO_PORTAL]    Script Date: 01/25/2010 22:04:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KO_USUARIO_PORTAL](
	[ID_USR] [bigint] NOT NULL,
	[APODO] [varchar](20) NULL,
	[CONT_APERCIBIMIENTO] [int] NULL,
	[ACEPTA_PUB] [bit] NULL,
	[COD_CONF] [varchar](20) NULL,
	[ID_TIPO_USUARIO] [int] NULL,
	[FEC_ULT_INGRESO] [datetime] NULL,
	[IP] [varchar](15) NULL,
	[FLAG_CIERRE] [bit] NULL,
	[FEC_REG] [date] NULL,
	[ID_ESTADO_USUARIO] [int] NULL,
 CONSTRAINT [KO_USUARIO_PORTAL_PK] PRIMARY KEY CLUSTERED 
(
	[ID_USR] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [KO_PK_USUARIO_PORTAL] ON [dbo].[KO_USUARIO_PORTAL] 
(
	[ID_USR] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KO_TIPO_AVISO]    Script Date: 01/25/2010 22:04:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KO_TIPO_AVISO](
	[ID_TIPO_AVISO] [int] NOT NULL,
	[DES] [varchar](30) NOT NULL,
 CONSTRAINT [KO_TIPO_AVISO_PK] PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_AVISO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [KO_PK_TIPO_AVISO] ON [dbo].[KO_TIPO_AVISO] 
(
	[ID_TIPO_AVISO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KO_DURACION]    Script Date: 01/25/2010 22:04:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KO_DURACION](
	[ID_DURACION] [int] NOT NULL,
	[DES] [varchar](10) NOT NULL,
 CONSTRAINT [KO_DURACION_PK] PRIMARY KEY CLUSTERED 
(
	[ID_DURACION] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [KO_PK_DURACION] ON [dbo].[KO_DURACION] 
(
	[ID_DURACION] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KO_TIPO_AVISO_DURACION]    Script Date: 01/25/2010 22:04:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KO_TIPO_AVISO_DURACION](
	[ID_TIPO_AVISO] [int] NOT NULL,
	[ID_DURACION] [int] NOT NULL,
 CONSTRAINT [KO_TIPO_AVISO_DURACION_PK] PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_AVISO] ASC,
	[ID_DURACION] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KO_TIPO_PRODUCTO]    Script Date: 01/25/2010 22:04:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KO_TIPO_PRODUCTO](
	[ID_TIPO_PRODUCTO] [int] NOT NULL,
	[DES] [varchar](20) NOT NULL,
 CONSTRAINT [KO_TIPO_PRODUCTO_PK] PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_PRODUCTO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [KO_PK_TIPO_PRODUCTO] ON [dbo].[KO_TIPO_PRODUCTO] 
(
	[ID_TIPO_PRODUCTO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KO_MONEDA]    Script Date: 01/25/2010 22:04:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KO_MONEDA](
	[ID_MONEDA] [int] NOT NULL,
	[DES_CORTA] [varchar](20) NOT NULL,
	[DES_LARGA] [varchar](30) NOT NULL,
	[SIMB] [varchar](5) NOT NULL,
 CONSTRAINT [KO_MONEDA_PK] PRIMARY KEY CLUSTERED 
(
	[ID_MONEDA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [KO_PK_MONEDA] ON [dbo].[KO_MONEDA] 
(
	[ID_MONEDA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KO_REPUBLICACION]    Script Date: 01/25/2010 22:04:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KO_REPUBLICACION](
	[ID_REPUBLICACION] [int] NOT NULL,
	[DES] [varchar](20) NOT NULL,
	[VALOR] [int] NOT NULL,
 CONSTRAINT [KO_PERIODO_PK] PRIMARY KEY CLUSTERED 
(
	[ID_REPUBLICACION] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [KO_PK_PERIODO] ON [dbo].[KO_REPUBLICACION] 
(
	[ID_REPUBLICACION] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KO_ESCALA]    Script Date: 01/25/2010 22:04:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KO_ESCALA](
	[ID_ESCALA] [int] NOT NULL,
	[DES] [varchar](10) NOT NULL,
	[VAL_ESCALA] [int] NULL,
 CONSTRAINT [KO_ESCALA_PK] PRIMARY KEY CLUSTERED 
(
	[ID_ESCALA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [KO_PK_ESCALA] ON [dbo].[KO_ESCALA] 
(
	[ID_ESCALA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KO_OFERTA]    Script Date: 01/25/2010 22:04:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KO_OFERTA](
	[ID_OFERTA] [bigint] NOT NULL,
	[FEC_REG] [datetime] NULL,
	[CANT] [int] NULL,
	[PRECIO_BASE] [decimal](10, 2) NULL,
	[EST] [int] NULL,
	[ID_AVISO] [int] NULL,
	[ID_USR] [bigint] NULL,
	[TIPO_COMISION] [char](10) NULL,
	[VALOR_COMISION] [decimal](10, 2) NULL,
	[VALOR_CAMBIO] [decimal](10, 2) NULL,
 CONSTRAINT [KO_OFERTA_PK] PRIMARY KEY CLUSTERED 
(
	[ID_OFERTA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [KO_PK_OFERTA] ON [dbo].[KO_OFERTA] 
(
	[ID_OFERTA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KO_CALIFICACION]    Script Date: 01/25/2010 22:04:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KO_CALIFICACION](
	[ID_CALIFICACION] [int] NOT NULL,
	[ID_ESCALA] [int] NOT NULL,
	[TIPO] [varchar](2) NULL,
	[FEC_REG] [datetime] NULL,
	[ID_USR] [bigint] NULL,
	[ID_OFERTA] [bigint] NULL,
	[ID_TRANSACCION] [bigint] NULL,
 CONSTRAINT [KO_CALIFICACION_PK] PRIMARY KEY CLUSTERED 
(
	[ID_CALIFICACION] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [KO_PK_CALIFICACION] ON [dbo].[KO_CALIFICACION] 
(
	[ID_CALIFICACION] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KO_AVISO]    Script Date: 01/25/2010 22:04:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KO_AVISO](
	[ID_AVISO] [int] NOT NULL,
	[ID_TIPO_PRODUCTO] [int] NOT NULL,
	[TIT] [varchar](100) NOT NULL,
	[SUBTIT] [varchar](100) NULL,
	[TAG] [varchar](255) NULL,
	[STOCK] [int] NOT NULL,
	[FEC_PUB] [datetime] NULL,
	[FEC_ULT_MOD] [datetime] NULL,
	[FEC_REG] [datetime] NULL,
	[PRECIO] [decimal](10, 2) NULL,
	[USR_ID] [int] NULL,
	[HTML] [varchar](50) NULL,
	[IMG_DEF] [varchar](50) NULL,
	[EST] [int] NULL,
	[URL] [varchar](200) NULL,
	[ID_TIPO_AVISO] [int] NULL,
	[ID_DURACION] [int] NULL,
	[ID_REPUBLICACION] [int] NULL,
	[ID_MONEDA] [int] NULL,
	[ID_USR] [bigint] NULL,
	[ID_CALIFICACION] [int] NULL,
	[VISITAS] [int] NULL,
 CONSTRAINT [KO_AVISO_PK] PRIMARY KEY CLUSTERED 
(
	[ID_AVISO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [KO_PK_AVISO] ON [dbo].[KO_AVISO] 
(
	[ID_AVISO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KO_TRANSACCION_DESTAQUE]    Script Date: 01/25/2010 22:04:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KO_TRANSACCION_DESTAQUE](
	[ID_TRANSACCION_DESTAQUE] [int] NOT NULL,
	[FEC_REG] [datetime] NULL,
	[COMENT] [varchar](50) NULL,
	[PREC] [decimal](10, 2) NULL,
	[EST] [int] NULL,
	[FLAG_CIERRE] [bit] NULL,
	[ID_AVISO] [int] NULL,
 CONSTRAINT [KO_TRANSACCION_DESTAQUE_PK] PRIMARY KEY CLUSTERED 
(
	[ID_TRANSACCION_DESTAQUE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KO_SEGUIMIENTO]    Script Date: 01/25/2010 22:04:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KO_SEGUIMIENTO](
	[ID_SEGUIMIENTO] [int] NOT NULL,
	[DES] [varchar](50) NULL,
	[USR] [varchar](50) NULL,
	[FEC_REG] [datetime] NULL,
	[EST] [int] NULL,
	[ID_AVISO] [int] NULL,
 CONSTRAINT [KO_SEGUIMIENTO_PK] PRIMARY KEY CLUSTERED 
(
	[ID_SEGUIMIENTO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [KO_PK_SEGUIMIENTO] ON [dbo].[KO_SEGUIMIENTO] 
(
	[ID_SEGUIMIENTO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KO_FOTO]    Script Date: 01/25/2010 22:04:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KO_FOTO](
	[ID_FOTO] [int] NOT NULL,
	[NOM] [varchar](30) NULL,
	[USR_MOD] [varchar](30) NULL,
	[USR_CREA] [varchar](30) NULL,
	[FEC_CREA] [datetime] NULL,
	[FEC_MOD] [datetime] NULL,
	[URL_BASE] [varchar](50) NULL,
	[PRIO] [int] NULL,
	[ID_AVISO] [int] NOT NULL,
 CONSTRAINT [KO_FOTO_PK] PRIMARY KEY CLUSTERED 
(
	[ID_FOTO] ASC,
	[ID_AVISO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [KO_PK_FOTO] ON [dbo].[KO_FOTO] 
(
	[ID_FOTO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KO_ASUNTO]    Script Date: 01/25/2010 22:04:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KO_ASUNTO](
	[ID_ASUNTO] [int] NOT NULL,
	[DES] [varchar](50) NOT NULL,
 CONSTRAINT [KO_ASUNTO_PK] PRIMARY KEY CLUSTERED 
(
	[ID_ASUNTO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [KO_PK_ASUNTO] ON [dbo].[KO_ASUNTO] 
(
	[ID_ASUNTO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KO_DENUNCIA]    Script Date: 01/25/2010 22:04:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KO_DENUNCIA](
	[ID_DENUNCIA] [int] NOT NULL,
	[COMENT] [varchar](500) NULL,
	[EMAIL] [varchar](30) NULL,
	[NOM_DENUNCIANTE] [varchar](50) NULL,
	[USR_CREA] [varchar](30) NULL,
	[FEC] [datetime] NULL,
	[ID_AVISO] [int] NULL,
	[ID_ASUNTO] [int] NULL,
 CONSTRAINT [KO_DENUNCIA_PK] PRIMARY KEY CLUSTERED 
(
	[ID_DENUNCIA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [KO_PK_DENUNCIA] ON [dbo].[KO_DENUNCIA] 
(
	[ID_DENUNCIA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KO_ESTILO]    Script Date: 01/25/2010 22:04:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KO_ESTILO](
	[ID_ESTILO] [int] NOT NULL,
	[DES] [varchar](20) NOT NULL,
 CONSTRAINT [KO_ESTILO_PK] PRIMARY KEY CLUSTERED 
(
	[ID_ESTILO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [KO_PK_ESTILO] ON [dbo].[KO_ESTILO] 
(
	[ID_ESTILO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IN_ROL]    Script Date: 01/25/2010 22:04:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IN_ROL](
	[ID_ROL] [int] NOT NULL,
	[ROL] [varchar](50) NULL,
	[APPLICATION] [varchar](50) NULL,
 CONSTRAINT [IN_ROL_PK] PRIMARY KEY CLUSTERED 
(
	[ID_ROL] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[IN_TIPO_MODULO]    Script Date: 01/25/2010 22:04:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IN_TIPO_MODULO](
	[ID_TIPO_MODULO] [int] NOT NULL,
	[COD] [varchar](10) NULL,
	[DES] [varchar](10) NOT NULL,
 CONSTRAINT [KO_TIPO_MODULO_PK] PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_MODULO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [KO_PK_TIPO_MODULO] ON [dbo].[IN_TIPO_MODULO] 
(
	[ID_TIPO_MODULO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KO_TAGS]    Script Date: 01/25/2010 22:04:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KO_TAGS](
	[ID_TAGS] [varchar](32) NOT NULL,
	[TEXTOS] [nvarchar](10) NULL,
 CONSTRAINT [KO_TAGS_PK] PRIMARY KEY CLUSTERED 
(
	[ID_TAGS] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [KO_PK_CLAVE] ON [dbo].[KO_TAGS] 
(
	[ID_TAGS] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KO_AVISO_TAGS]    Script Date: 01/25/2010 22:04:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KO_AVISO_TAGS](
	[ID_AVISO] [int] NOT NULL,
	[ID_TAGS] [varchar](32) NOT NULL,
	[CONT] [int] NULL,
	[TITULO] [int] NULL,
	[SUBTITUT] [int] NULL,
	[TAGS] [int] NULL,
 CONSTRAINT [KO_AVISO_TAGS_PK] PRIMARY KEY CLUSTERED 
(
	[ID_TAGS] ASC,
	[ID_AVISO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KO_TABLA_MODERADA]    Script Date: 01/25/2010 22:04:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KO_TABLA_MODERADA](
	[ID_TABLA_MODERADA] [int] NOT NULL,
	[DES] [varchar](50) NOT NULL,
	[NOM_TABLA] [varchar](50) NULL,
	[NOM_CAMPOS] [varchar](500) NULL,
 CONSTRAINT [KO_TABLA_MODERADA_PK] PRIMARY KEY CLUSTERED 
(
	[ID_TABLA_MODERADA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [KO_PK_TABLA_MODERADA] ON [dbo].[KO_TABLA_MODERADA] 
(
	[ID_TABLA_MODERADA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KO_SESSION]    Script Date: 01/25/2010 22:04:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KO_SESSION](
	[ID_SESSION] [varchar](32) NOT NULL,
	[MODI] [int] NULL,
	[LIFE] [int] NULL,
	[USR_ID] [int] NULL,
	[DATA] [text] NULL,
 CONSTRAINT [KO_SESSION_PK] PRIMARY KEY CLUSTERED 
(
	[ID_SESSION] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [KO_PK_SESSION] ON [dbo].[KO_SESSION] 
(
	[ID_SESSION] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KO_PARAMETRO_GRUPO]    Script Date: 01/25/2010 22:04:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KO_PARAMETRO_GRUPO](
	[ID_PARAMETRO_GRUPO] [varchar](4) NOT NULL,
	[DES] [varchar](255) NOT NULL,
	[TABLA] [varchar](64) NULL,
	[CAMPO] [varchar](64) NULL,
 CONSTRAINT [KO_PARAMETRO_GRUPO_PK] PRIMARY KEY CLUSTERED 
(
	[ID_PARAMETRO_GRUPO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [KO_PK_PARAMETRO_GRUPO] ON [dbo].[KO_PARAMETRO_GRUPO] 
(
	[ID_PARAMETRO_GRUPO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KO_MEDIO_PAGO]    Script Date: 01/25/2010 22:04:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KO_MEDIO_PAGO](
	[ID_MEDIO_PAGO] [int] NOT NULL,
	[TIT] [varchar](50) NOT NULL,
	[DES] [varchar](50) NOT NULL,
	[USR_CREA] [varchar](30) NULL,
	[FEC_CREA] [datetime] NULL,
 CONSTRAINT [KO_MEDIO_PAGO_PK] PRIMARY KEY CLUSTERED 
(
	[ID_MEDIO_PAGO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [KO_PK_MEDIO_PAGO] ON [dbo].[KO_MEDIO_PAGO] 
(
	[ID_MEDIO_PAGO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KO_AVISO_MEDIO_PAGO]    Script Date: 01/25/2010 22:04:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KO_AVISO_MEDIO_PAGO](
	[ID_MEDIO_PAGO] [int] NOT NULL,
	[ID_AVISO] [int] NOT NULL,
 CONSTRAINT [KO_AVISO_MEDIO_PAGO_PK] PRIMARY KEY CLUSTERED 
(
	[ID_MEDIO_PAGO] ASC,
	[ID_AVISO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KO_CATEGORIA]    Script Date: 01/25/2010 22:04:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KO_CATEGORIA](
	[ID_CATEGORIA] [int] NOT NULL,
	[TIT] [varchar](250) NULL,
	[DES] [varchar](250) NULL,
	[FEC_CREA] [datetime] NULL,
	[FEC_MOD] [datetime] NULL,
	[USR_CREA] [varchar](30) NULL,
	[USR_MOD] [varchar](30) NULL,
	[APTA_DESTAQUE] [bit] NULL,
	[PADRE_ID] [int] NULL,
	[NIVEL] [int] NULL,
	[ADULTO] [bit] NULL,
	[VISUALIZAHOME] [bit] NULL,
	[EST] [int] NULL,
 CONSTRAINT [KO_CATEGORIA_PK] PRIMARY KEY CLUSTERED 
(
	[ID_CATEGORIA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [KO_PK_CATEGORIA] ON [dbo].[KO_CATEGORIA] 
(
	[ID_CATEGORIA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KO_AVISO_CATEGORIA]    Script Date: 01/25/2010 22:04:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KO_AVISO_CATEGORIA](
	[ID_AVISO] [int] NOT NULL,
	[ID_CATEGORIA] [int] NOT NULL,
 CONSTRAINT [KO_AVISO_CATEGORIA_PK] PRIMARY KEY CLUSTERED 
(
	[ID_AVISO] ASC,
	[ID_CATEGORIA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [KO_PK_AVISO_CATEGORIA] ON [dbo].[KO_AVISO_CATEGORIA] 
(
	[ID_AVISO] ASC,
	[ID_CATEGORIA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KO_TIPO_APROBACION]    Script Date: 01/25/2010 22:04:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KO_TIPO_APROBACION](
	[ID_TIPO_APROBACION] [int] NOT NULL,
	[DES] [varchar](20) NOT NULL,
 CONSTRAINT [KO_TIPO_APROBACION_PK] PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_APROBACION] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [KO_PK_TIPO_APROBACION] ON [dbo].[KO_TIPO_APROBACION] 
(
	[ID_TIPO_APROBACION] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KO_PROPIEDAD]    Script Date: 01/25/2010 22:04:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KO_PROPIEDAD](
	[ID_PROPIEDAD] [int] NOT NULL,
	[PROPIEDAD_COD] [varchar](10) NULL,
	[DES] [varchar](10) NULL,
	[VAL] [varchar](10) NULL,
 CONSTRAINT [KO_PROPIEDAD_PK] PRIMARY KEY CLUSTERED 
(
	[ID_PROPIEDAD] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [KO_PK_PROPIEDAD] ON [dbo].[KO_PROPIEDAD] 
(
	[ID_PROPIEDAD] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KO_TIPO_SUSPENSION]    Script Date: 01/25/2010 22:04:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KO_TIPO_SUSPENSION](
	[ID_TIPO_SUSPENSION] [int] NOT NULL,
	[DES] [varchar](50) NOT NULL,
 CONSTRAINT [KO_TIPO_SUSPENSION_PK] PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_SUSPENSION] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [KO_PK_TIPO_SUSPENSION] ON [dbo].[KO_TIPO_SUSPENSION] 
(
	[ID_TIPO_SUSPENSION] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KO_TIPO_REGLA]    Script Date: 01/25/2010 22:04:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KO_TIPO_REGLA](
	[ID_TIPO_REGLA] [int] NOT NULL,
	[DES] [varchar](50) NOT NULL,
 CONSTRAINT [KO_TIPO_REGLA_PK] PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_REGLA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [KO_PK_TIPO_REGLA] ON [dbo].[KO_TIPO_REGLA] 
(
	[ID_TIPO_REGLA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KO_TIPO_REACTIVACION]    Script Date: 01/25/2010 22:04:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KO_TIPO_REACTIVACION](
	[ID_TIPO_REACTIVACION] [int] NOT NULL,
	[DES] [varchar](50) NULL,
 CONSTRAINT [KO_TIPO_REACTIVACION_PK] PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_REACTIVACION] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [KO_PK_TIPO_REACTIVACION] ON [dbo].[KO_TIPO_REACTIVACION] 
(
	[ID_TIPO_REACTIVACION] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KO_TIPO_NOTIFICACION]    Script Date: 01/25/2010 22:04:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KO_TIPO_NOTIFICACION](
	[ID_TIPO_NOTIFICACION] [int] NOT NULL,
	[DES] [varchar](40) NOT NULL,
 CONSTRAINT [KO_TIPO_NOTIFICACION_PK] PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_NOTIFICACION] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [KO_PK_TIPO_NOTIFICACION] ON [dbo].[KO_TIPO_NOTIFICACION] 
(
	[ID_TIPO_NOTIFICACION] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KO_TIPO_MOTIVO]    Script Date: 01/25/2010 22:04:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KO_TIPO_MOTIVO](
	[ID_TIPO_MOTIVO] [int] NOT NULL,
	[DES] [varchar](30) NOT NULL,
 CONSTRAINT [KO_TIPO_MOTIVO_PK] PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_MOTIVO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [KO_PK_TIPO_MOTIVO] ON [dbo].[KO_TIPO_MOTIVO] 
(
	[ID_TIPO_MOTIVO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KO_TIPO_MENSAJE]    Script Date: 01/25/2010 22:04:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KO_TIPO_MENSAJE](
	[ID_TIPO_MENSAJE] [int] NOT NULL,
	[DES] [varchar](50) NOT NULL,
 CONSTRAINT [KO_TIPO_MENSAJE_PK] PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_MENSAJE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [KO_PK_TIPO_MENSAJE] ON [dbo].[KO_TIPO_MENSAJE] 
(
	[ID_TIPO_MENSAJE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KO_TIPO_DESTAQUE]    Script Date: 01/25/2010 22:04:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KO_TIPO_DESTAQUE](
	[ID_TIPO_DESTAQUE] [int] NOT NULL,
	[DES] [varchar](30) NOT NULL,
 CONSTRAINT [KO_TIPO_DESTAQUE_PK] PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_DESTAQUE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [KO_PK_TIPO_DESTAQUE] ON [dbo].[KO_TIPO_DESTAQUE] 
(
	[ID_TIPO_DESTAQUE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KO_TIPO_CAMBIO]    Script Date: 01/25/2010 22:04:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KO_TIPO_CAMBIO](
	[ID_TIPO_CAMBIO] [int] NOT NULL,
	[FEC_INI] [datetime] NOT NULL,
	[FEC_FIN] [datetime] NULL,
	[VALOR_CAMB] [decimal](10, 2) NULL,
	[USR_CREA] [varchar](30) NULL,
	[USR_MOD] [varchar](30) NULL,
	[FEC_REG] [datetime] NULL,
	[FEC_MOD] [datetime] NULL,
	[FLAG] [int] NULL,
 CONSTRAINT [KO_TIPO_CAMBIO_PK] PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_CAMBIO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [KO_PK_TIPO_CAMBIO] ON [dbo].[KO_TIPO_CAMBIO] 
(
	[ID_TIPO_CAMBIO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KO_TEXTO]    Script Date: 01/25/2010 22:04:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KO_TEXTO](
	[ID_TEXTO] [int] NOT NULL,
	[EXP] [varchar](300) NULL,
	[EST] [int] NULL,
	[ID_TIPO_APROBACION] [int] NULL,
 CONSTRAINT [KO_TEXTO_PK] PRIMARY KEY CLUSTERED 
(
	[ID_TEXTO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [KO_PK_TEXTO] ON [dbo].[KO_TEXTO] 
(
	[ID_TEXTO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KO_PROCEDENCIA_MODERACION]    Script Date: 01/25/2010 22:04:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KO_PROCEDENCIA_MODERACION](
	[ID_PROCEDENCIA_MODERACION] [int] NOT NULL,
	[OBS] [varchar](200) NULL,
	[TEXTO_VALIDADO] [varchar](100) NULL,
	[FEC_REG] [datetime] NULL,
	[USUARIO_ID] [int] NULL,
	[REGISTRO_MODERADO_ID] [int] NULL,
	[ID_TABLA_MODERADA] [int] NULL,
 CONSTRAINT [KO_PROCEDENCIA_MODERACION_PK] PRIMARY KEY CLUSTERED 
(
	[ID_PROCEDENCIA_MODERACION] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [KO_PK_PROCEDENCIA_MODERACION] ON [dbo].[KO_PROCEDENCIA_MODERACION] 
(
	[ID_PROCEDENCIA_MODERACION] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KO_DESTAQUE]    Script Date: 01/25/2010 22:04:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KO_DESTAQUE](
	[ID_DESTAQUE] [int] NOT NULL,
	[DESTAQUE_COD] [varchar](10) NULL,
	[TIT] [varchar](50) NOT NULL,
	[DES] [varchar](50) NOT NULL,
	[PRIORIDAD] [int] NULL,
	[MONTO] [decimal](10, 2) NULL,
	[VIS] [varchar](2) NULL,
	[FOTO] [varchar](2) NULL,
	[EST] [varchar](2) NULL,
	[MONTO_SIN_IMPUESTO] [decimal](10, 2) NULL,
	[URL] [varchar](100) NULL,
	[ID_ESTILO] [int] NULL,
	[ID_TIPO_DESTAQUE] [int] NULL,
 CONSTRAINT [KO_DESTAQUE_PK] PRIMARY KEY CLUSTERED 
(
	[ID_DESTAQUE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [KO_PK_DESTAQUE] ON [dbo].[KO_DESTAQUE] 
(
	[ID_DESTAQUE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KO_AVISO_DESTAQUE]    Script Date: 01/25/2010 22:04:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KO_AVISO_DESTAQUE](
	[ID_DESTAQUE] [int] NOT NULL,
	[AVISO_ID] [int] NOT NULL,
 CONSTRAINT [KO_AVISO_DESTAQUE_PK] PRIMARY KEY CLUSTERED 
(
	[ID_DESTAQUE] ASC,
	[AVISO_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [KO_PK_AVISO_DESTAQUE] ON [dbo].[KO_AVISO_DESTAQUE] 
(
	[AVISO_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KO_REGLA]    Script Date: 01/25/2010 22:04:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KO_REGLA](
	[ID_REGLA] [int] NOT NULL,
	[DES] [varchar](50) NOT NULL,
	[PRIORIDAD] [int] NULL,
	[EST] [int] NULL,
	[ID_TIPO_REGLA] [int] NULL,
	[ID_TIPO_SUSPENSION] [int] NULL,
	[ID_TIPO_REACTIVACION] [int] NULL,
 CONSTRAINT [KO_REGLA_PK] PRIMARY KEY CLUSTERED 
(
	[ID_REGLA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [KO_PK_REGLA] ON [dbo].[KO_REGLA] 
(
	[ID_REGLA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KO_PARAMETRO]    Script Date: 01/25/2010 22:04:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KO_PARAMETRO](
	[ID_PARAMETRO] [int] NOT NULL,
	[ID_PARAMETRO_GRUPO] [varchar](4) NOT NULL,
	[DES] [varchar](255) NULL,
	[VALOR1] [varchar](250) NULL,
	[VALOR2] [varchar](250) NULL,
	[VALOR3] [varchar](250) NULL,
 CONSTRAINT [KO_PARAMETRO_PK] PRIMARY KEY CLUSTERED 
(
	[ID_PARAMETRO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [KO_PK_PARAMETRO_PK] ON [dbo].[KO_PARAMETRO] 
(
	[ID_PARAMETRO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IK_MODULO]    Script Date: 01/25/2010 22:04:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IK_MODULO](
	[ID_TIPO_MODULO] [int] NOT NULL,
	[ID_MODULO] [int] NOT NULL,
	[TIT] [varchar](50) NOT NULL,
	[COD] [varchar](10) NULL,
	[EST] [bit] NULL,
 CONSTRAINT [KO_MODULO_PK] PRIMARY KEY CLUSTERED 
(
	[ID_MODULO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [KO_PK_MODULO] ON [dbo].[IK_MODULO] 
(
	[ID_MODULO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IN_MODULO_AVISO]    Script Date: 01/25/2010 22:04:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IN_MODULO_AVISO](
	[ID_MODULO_AVISO] [int] NOT NULL,
	[COLOCADO] [bit] NULL,
	[EST] [bit] NULL,
	[ID_MODULO] [int] NULL,
	[ID_AVISO] [int] NULL,
 CONSTRAINT [KO_MODULO_AVISO_PK] PRIMARY KEY CLUSTERED 
(
	[ID_MODULO_AVISO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [KO_PK_MODULO_AVISO_PK] ON [dbo].[IN_MODULO_AVISO] 
(
	[ID_MODULO_AVISO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KO_DICCIONARIO_TAG]    Script Date: 01/25/2010 22:04:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KO_DICCIONARIO_TAG](
	[ID_DICCIONARIO_TAG] [int] NOT NULL,
	[PALABRA_BUSCADA] [varchar](30) NULL,
	[CONTADOR] [int] NULL,
	[NRO_RESULT] [char](10) NULL,
	[PALABRA_CORREG] [char](10) NULL,
	[TAG] [varchar](255) NULL,
	[ID_CATEGORIA] [int] NULL,
	[PRIORIDAD] [int] NULL,
 CONSTRAINT [KO_DICCIONARIO_TAG_PK] PRIMARY KEY CLUSTERED 
(
	[ID_DICCIONARIO_TAG] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[IN_USUARIO_INTRANET]    Script Date: 01/25/2010 22:04:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IN_USUARIO_INTRANET](
	[ID_USR] [bigint] NOT NULL,
	[COD_USUARIO] [char](10) NULL,
	[APPLICATION] [varchar](50) NULL,
 CONSTRAINT [KO_USUARIO_INTRANET_PK] PRIMARY KEY CLUSTERED 
(
	[ID_USR] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [KO_PK_USUARIO_INTRANET] ON [dbo].[IN_USUARIO_INTRANET] 
(
	[ID_USR] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KO_DETALLE_REGLA]    Script Date: 01/25/2010 22:04:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KO_DETALLE_REGLA](
	[ID_DETALLE_REGLA] [int] NOT NULL,
	[DES] [varchar](100) NOT NULL,
	[FLAG] [varchar](10) NULL,
	[EST] [int] NULL,
	[FEC_REG] [datetime] NULL,
	[ID_REGLA] [int] NULL,
 CONSTRAINT [KO_DETALLE_REGLA_PK] PRIMARY KEY CLUSTERED 
(
	[ID_DETALLE_REGLA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [KO_PK_DETALLE_REGLA] ON [dbo].[KO_DETALLE_REGLA] 
(
	[ID_DETALLE_REGLA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IK_ITEM]    Script Date: 01/25/2010 22:04:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IK_ITEM](
	[ID_MODULO] [int] NOT NULL,
	[ID_ITEM] [int] NOT NULL,
	[DES] [varchar](50) NULL,
	[PRIO] [int] NULL,
	[LINK] [varchar](100) NULL,
	[ORDEN] [int] NULL,
	[EST] [bit] NULL,
	[IMG] [varchar](50) NULL,
	[FEC_CREA] [datetime] NULL,
	[USR_CREA] [varchar](30) NULL,
	[PRECIO] [decimal](10, 2) NULL,
 CONSTRAINT [KO_ITEM_PK] PRIMARY KEY CLUSTERED 
(
	[ID_ITEM] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [KO_PK_ITEM] ON [dbo].[IK_ITEM] 
(
	[ID_ITEM] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KO_MOTIVO]    Script Date: 01/25/2010 22:04:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KO_MOTIVO](
	[ID_MOTIVO] [int] NOT NULL,
	[TIT] [varchar](50) NULL,
	[FEC_CREA] [datetime] NULL,
	[FEC_MOD] [datetime] NULL,
	[USR_CREA] [varchar](30) NULL,
	[USR_MOD] [varchar](30) NULL,
	[EST] [varchar](2) NULL,
	[ID_REGLA] [int] NULL,
	[ID_TIPO_MOTIVO] [int] NULL,
 CONSTRAINT [KO_MOTIVO_PK] PRIMARY KEY CLUSTERED 
(
	[ID_MOTIVO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [KO_PK_MOTIVO] ON [dbo].[KO_MOTIVO] 
(
	[ID_MOTIVO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KO_PROPIEDAD_REGLA]    Script Date: 01/25/2010 22:04:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KO_PROPIEDAD_REGLA](
	[ID_PROPIEDAD_REGLA] [int] NOT NULL,
	[PROPIEDAD_REGLA_COD] [varchar](10) NULL,
	[ID_PROPIEDAD] [int] NULL,
	[ID_REGLA] [int] NULL,
 CONSTRAINT [KO_PROPIEDAD_REGLA_PK] PRIMARY KEY CLUSTERED 
(
	[ID_PROPIEDAD_REGLA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [KO_PK_PROPIEDAD_REGLA] ON [dbo].[KO_PROPIEDAD_REGLA] 
(
	[ID_PROPIEDAD_REGLA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  View [dbo].[KO_VW_TIPO_AVISO_DURACIO]    Script Date: 01/25/2010 22:04:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[KO_VW_TIPO_AVISO_DURACIO] AS SELECT TA.ID_TIPO_AVISO, DU.ID_DURACION,TA.DES AS NOMAVISO, DU.DES AS NOMDURACION 
FROM KO_TIPO_AVISO_DURACION AS TPA INNER JOIN KO_TIPO_AVISO AS TA ON TA.ID_TIPO_AVISO=TPA.ID_TIPO_AVISO 
							INNER JOIN KO_DURACION AS DU ON DU.ID_DURACION=TPA.ID_DURACION;
GO
/****** Object:  Table [dbo].[KO_MENSAJE]    Script Date: 01/25/2010 22:04:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KO_MENSAJE](
	[ID_MENSAJE] [bigint] NOT NULL,
	[FEC_CREA] [datetime] NULL,
	[ID_TIPO_MENSAJE] [int] NULL,
	[ID_TABLA_MENSAJE] [int] NULL,
	[ID_REGISTRO] [bigint] NULL,
	[ID_USR] [bigint] NULL,
	[ID_CALIFICACION] [int] NULL,
 CONSTRAINT [KO_MENSAJE_PK] PRIMARY KEY CLUSTERED 
(
	[ID_MENSAJE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [KO_PK_MENSAJE] ON [dbo].[KO_MENSAJE] 
(
	[ID_MENSAJE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KO_DETALLE_MENSAJE]    Script Date: 01/25/2010 22:04:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KO_DETALLE_MENSAJE](
	[ID_DETALLE_MENSAJE] [int] NOT NULL,
	[COMENT] [text] NULL,
	[ID_TIPO_MENSAJE] [int] NULL,
	[ID_MENSAJE] [bigint] NULL,
	[ID_USR] [bigint] NULL,
	[FLAG] [int] NULL,
 CONSTRAINT [KO_DETALLE_MENSAJE_PK] PRIMARY KEY CLUSTERED 
(
	[ID_DETALLE_MENSAJE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [KO_DETALLEMENSAJE_PK] ON [dbo].[KO_DETALLE_MENSAJE] 
(
	[ID_DETALLE_MENSAJE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KO_TEXTO_PROC_MODERACION]    Script Date: 01/25/2010 22:04:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KO_TEXTO_PROC_MODERACION](
	[ID_TEXTO_PROC_MODERACION] [char](10) NOT NULL,
	[ID_TEXTO] [int] NULL,
	[ID_TIPO_REACTIVACION] [int] NULL,
 CONSTRAINT [KO_TEXTO_PROC_MODERACION_PK] PRIMARY KEY CLUSTERED 
(
	[ID_TEXTO_PROC_MODERACION] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[KO_VW_USUARIO_PORTAL]    Script Date: 01/25/2010 22:04:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[KO_VW_USUARIO_PORTAL] AS
SELECT UP.APODO,U.PASSWORD, U.NOM, U.APEL, U.EMAIL 
FROM KO_USUARIO U 
INNER JOIN KO_USUARIO_PORTAL UP ON U.ID_USR=UP.ID_USR;
GO
/****** Object:  Table [dbo].[KO_NOTIFICACION]    Script Date: 01/25/2010 22:04:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KO_NOTIFICACION](
	[ID_NOTIFICACION] [int] NOT NULL,
	[USUARIO_ID] [int] NOT NULL,
	[COM] [varchar](50) NULL,
	[EST] [bit] NULL,
	[DUR] [int] NULL,
	[FEC_CREA] [datetime] NULL,
	[FEC_MOD] [datetime] NULL,
	[USR_CREA] [varchar](50) NULL,
	[USR_MOD] [varchar](50) NULL,
	[ID_TIPO_NOTIFICACION] [int] NULL,
	[ID_MOTIVO] [int] NULL,
 CONSTRAINT [KO_NOTIFICACION_PK] PRIMARY KEY CLUSTERED 
(
	[ID_NOTIFICACION] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [KO_PK_NOTIFICACION] ON [dbo].[KO_NOTIFICACION] 
(
	[USUARIO_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IN_ROL_USUARIO]    Script Date: 01/25/2010 22:04:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IN_ROL_USUARIO](
	[ID_USUARIO_ROL] [bigint] NOT NULL,
	[ID_ROL] [int] NULL,
	[ID_USR] [bigint] NULL,
 CONSTRAINT [IN_ROL_USUARIO_PK] PRIMARY KEY CLUSTERED 
(
	[ID_USUARIO_ROL] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Default [DF__KO_TRANSA__FEC_R__56B3DD81]    Script Date: 01/25/2010 22:04:35 ******/
ALTER TABLE [dbo].[KO_TRANSACCION] ADD  DEFAULT ('(getdate())') FOR [FEC_REG]
GO
/****** Object:  Default [DF__KO_USUARI__ACEPT__4E1E9780]    Script Date: 01/25/2010 22:04:35 ******/
ALTER TABLE [dbo].[KO_USUARIO_PORTAL] ADD  DEFAULT ((0)) FOR [ACEPTA_PUB]
GO
/****** Object:  Default [DF__KO_USUARI__FEC_R__7D98A078]    Script Date: 01/25/2010 22:04:35 ******/
ALTER TABLE [dbo].[KO_USUARIO_PORTAL] ADD  DEFAULT (getdate()) FOR [FEC_REG]
GO
/****** Object:  Default [DF__KO_AVISO__FEC_RE__3AD6B8E2]    Script Date: 01/25/2010 22:04:35 ******/
ALTER TABLE [dbo].[KO_AVISO] ADD  DEFAULT (getdate()) FOR [FEC_REG]
GO
/****** Object:  Default [DF__KO_CATEGO__FEC_C__324172E1]    Script Date: 01/25/2010 22:04:35 ******/
ALTER TABLE [dbo].[KO_CATEGORIA] ADD  DEFAULT ('(getdate())') FOR [FEC_CREA]
GO
/****** Object:  Default [DF__KO_TIPO_C__FEC_R__6E8B6712]    Script Date: 01/25/2010 22:04:35 ******/
ALTER TABLE [dbo].[KO_TIPO_CAMBIO] ADD  DEFAULT ('(getdate())') FOR [FEC_REG]
GO
/****** Object:  Default [DF__KO_DETALL__FEC_R__29AC2CE0]    Script Date: 01/25/2010 22:04:35 ******/
ALTER TABLE [dbo].[KO_DETALLE_REGLA] ADD  DEFAULT ('(getdate())') FOR [FEC_REG]
GO
/****** Object:  Default [DF__KO_NOTIFICA__EST__0E04126B]    Script Date: 01/25/2010 22:04:36 ******/
ALTER TABLE [dbo].[KO_NOTIFICACION] ADD  DEFAULT ((1)) FOR [EST]
GO
/****** Object:  ForeignKey [FK_KO_TRANSACCION_KO_OFERTA]    Script Date: 01/25/2010 22:04:35 ******/
ALTER TABLE [dbo].[KO_TRANSACCION]  WITH CHECK ADD  CONSTRAINT [FK_KO_TRANSACCION_KO_OFERTA] FOREIGN KEY([ID_OFERTA])
REFERENCES [dbo].[KO_OFERTA] ([ID_OFERTA])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KO_TRANSACCION] CHECK CONSTRAINT [FK_KO_TRANSACCION_KO_OFERTA]
GO
/****** Object:  ForeignKey [KO_FK_TRANSACCION_ESTADO_TRANSACCION]    Script Date: 01/25/2010 22:04:35 ******/
ALTER TABLE [dbo].[KO_TRANSACCION]  WITH CHECK ADD  CONSTRAINT [KO_FK_TRANSACCION_ESTADO_TRANSACCION] FOREIGN KEY([ID_ESTADO_TRANSACCION])
REFERENCES [dbo].[KO_ESTADO_TRANSACCION] ([ID_ESTADO_TRANSACCION])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KO_TRANSACCION] CHECK CONSTRAINT [KO_FK_TRANSACCION_ESTADO_TRANSACCION]
GO
/****** Object:  ForeignKey [KO_TRANSACCION_KO_CIERRE_TRANSACCION_FK1]    Script Date: 01/25/2010 22:04:35 ******/
ALTER TABLE [dbo].[KO_CIERRE_TRANSACCION]  WITH CHECK ADD  CONSTRAINT [KO_TRANSACCION_KO_CIERRE_TRANSACCION_FK1] FOREIGN KEY([ID_TRANSACCION])
REFERENCES [dbo].[KO_TRANSACCION] ([ID_TRANSACCION])
GO
ALTER TABLE [dbo].[KO_CIERRE_TRANSACCION] CHECK CONSTRAINT [KO_TRANSACCION_KO_CIERRE_TRANSACCION_FK1]
GO
/****** Object:  ForeignKey [KO_FK_USUARIO_TIPO_DOC]    Script Date: 01/25/2010 22:04:35 ******/
ALTER TABLE [dbo].[KO_USUARIO]  WITH CHECK ADD  CONSTRAINT [KO_FK_USUARIO_TIPO_DOC] FOREIGN KEY([ID_TIPO_DOC])
REFERENCES [dbo].[KO_TIPO_DOC] ([ID_TIPO_DOC])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KO_USUARIO] CHECK CONSTRAINT [KO_FK_USUARIO_TIPO_DOC]
GO
/****** Object:  ForeignKey [KO_FK_USUARIO_UBIGEO]    Script Date: 01/25/2010 22:04:35 ******/
ALTER TABLE [dbo].[KO_USUARIO]  WITH CHECK ADD  CONSTRAINT [KO_FK_USUARIO_UBIGEO] FOREIGN KEY([ID_UBIGEO])
REFERENCES [dbo].[KO_UBIGEO] ([ID_UBIGEO])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KO_USUARIO] CHECK CONSTRAINT [KO_FK_USUARIO_UBIGEO]
GO
/****** Object:  ForeignKey [KO_FK_USUARIO_PORTAL_ESTADO_USUARIO]    Script Date: 01/25/2010 22:04:35 ******/
ALTER TABLE [dbo].[KO_USUARIO_PORTAL]  WITH CHECK ADD  CONSTRAINT [KO_FK_USUARIO_PORTAL_ESTADO_USUARIO] FOREIGN KEY([ID_ESTADO_USUARIO])
REFERENCES [dbo].[KO_ESTADO_USUARIO] ([ID_ESTADO_USUARIO])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KO_USUARIO_PORTAL] CHECK CONSTRAINT [KO_FK_USUARIO_PORTAL_ESTADO_USUARIO]
GO
/****** Object:  ForeignKey [KO_FK_USUARIO_PORTAL_TIPO_USUARIO]    Script Date: 01/25/2010 22:04:35 ******/
ALTER TABLE [dbo].[KO_USUARIO_PORTAL]  WITH CHECK ADD  CONSTRAINT [KO_FK_USUARIO_PORTAL_TIPO_USUARIO] FOREIGN KEY([ID_TIPO_USUARIO])
REFERENCES [dbo].[KO_TIPO_USUARIO] ([ID_TIPO_USUARIO])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KO_USUARIO_PORTAL] CHECK CONSTRAINT [KO_FK_USUARIO_PORTAL_TIPO_USUARIO]
GO
/****** Object:  ForeignKey [KO_FK_USUARIO_PORTAL_USUARIO]    Script Date: 01/25/2010 22:04:35 ******/
ALTER TABLE [dbo].[KO_USUARIO_PORTAL]  WITH CHECK ADD  CONSTRAINT [KO_FK_USUARIO_PORTAL_USUARIO] FOREIGN KEY([ID_USR])
REFERENCES [dbo].[KO_USUARIO] ([ID_USR])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KO_USUARIO_PORTAL] CHECK CONSTRAINT [KO_FK_USUARIO_PORTAL_USUARIO]
GO
/****** Object:  ForeignKey [KO_DURACION_KO_TIPO_AVISO_DURACION_FK1]    Script Date: 01/25/2010 22:04:35 ******/
ALTER TABLE [dbo].[KO_TIPO_AVISO_DURACION]  WITH CHECK ADD  CONSTRAINT [KO_DURACION_KO_TIPO_AVISO_DURACION_FK1] FOREIGN KEY([ID_DURACION])
REFERENCES [dbo].[KO_DURACION] ([ID_DURACION])
GO
ALTER TABLE [dbo].[KO_TIPO_AVISO_DURACION] CHECK CONSTRAINT [KO_DURACION_KO_TIPO_AVISO_DURACION_FK1]
GO
/****** Object:  ForeignKey [KO_TIPO_AVISO_KO_TIPO_AVISO_DURACION_FK1]    Script Date: 01/25/2010 22:04:35 ******/
ALTER TABLE [dbo].[KO_TIPO_AVISO_DURACION]  WITH CHECK ADD  CONSTRAINT [KO_TIPO_AVISO_KO_TIPO_AVISO_DURACION_FK1] FOREIGN KEY([ID_TIPO_AVISO])
REFERENCES [dbo].[KO_TIPO_AVISO] ([ID_TIPO_AVISO])
GO
ALTER TABLE [dbo].[KO_TIPO_AVISO_DURACION] CHECK CONSTRAINT [KO_TIPO_AVISO_KO_TIPO_AVISO_DURACION_FK1]
GO
/****** Object:  ForeignKey [KO_AVISO_KO_OFERTA_FK1]    Script Date: 01/25/2010 22:04:35 ******/
ALTER TABLE [dbo].[KO_OFERTA]  WITH CHECK ADD  CONSTRAINT [KO_AVISO_KO_OFERTA_FK1] FOREIGN KEY([ID_AVISO])
REFERENCES [dbo].[KO_AVISO] ([ID_AVISO])
GO
ALTER TABLE [dbo].[KO_OFERTA] CHECK CONSTRAINT [KO_AVISO_KO_OFERTA_FK1]
GO
/****** Object:  ForeignKey [KO_USUARIO_PORTAL_KO_OFERTA_FK1]    Script Date: 01/25/2010 22:04:35 ******/
ALTER TABLE [dbo].[KO_OFERTA]  WITH CHECK ADD  CONSTRAINT [KO_USUARIO_PORTAL_KO_OFERTA_FK1] FOREIGN KEY([ID_USR])
REFERENCES [dbo].[KO_USUARIO_PORTAL] ([ID_USR])
GO
ALTER TABLE [dbo].[KO_OFERTA] CHECK CONSTRAINT [KO_USUARIO_PORTAL_KO_OFERTA_FK1]
GO
/****** Object:  ForeignKey [KO_FK_CALIFICACION_ESCALA]    Script Date: 01/25/2010 22:04:35 ******/
ALTER TABLE [dbo].[KO_CALIFICACION]  WITH CHECK ADD  CONSTRAINT [KO_FK_CALIFICACION_ESCALA] FOREIGN KEY([ID_ESCALA])
REFERENCES [dbo].[KO_ESCALA] ([ID_ESCALA])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KO_CALIFICACION] CHECK CONSTRAINT [KO_FK_CALIFICACION_ESCALA]
GO
/****** Object:  ForeignKey [KO_OFERTA_KO_CALIFICACION_FK1]    Script Date: 01/25/2010 22:04:35 ******/
ALTER TABLE [dbo].[KO_CALIFICACION]  WITH CHECK ADD  CONSTRAINT [KO_OFERTA_KO_CALIFICACION_FK1] FOREIGN KEY([ID_OFERTA])
REFERENCES [dbo].[KO_OFERTA] ([ID_OFERTA])
GO
ALTER TABLE [dbo].[KO_CALIFICACION] CHECK CONSTRAINT [KO_OFERTA_KO_CALIFICACION_FK1]
GO
/****** Object:  ForeignKey [KO_TRANSACCION_KO_CALIFICACION_FK1]    Script Date: 01/25/2010 22:04:35 ******/
ALTER TABLE [dbo].[KO_CALIFICACION]  WITH CHECK ADD  CONSTRAINT [KO_TRANSACCION_KO_CALIFICACION_FK1] FOREIGN KEY([ID_TRANSACCION])
REFERENCES [dbo].[KO_TRANSACCION] ([ID_TRANSACCION])
GO
ALTER TABLE [dbo].[KO_CALIFICACION] CHECK CONSTRAINT [KO_TRANSACCION_KO_CALIFICACION_FK1]
GO
/****** Object:  ForeignKey [KO_USUARIO_PORTAL_KO_CALIFICACION_FK1]    Script Date: 01/25/2010 22:04:35 ******/
ALTER TABLE [dbo].[KO_CALIFICACION]  WITH CHECK ADD  CONSTRAINT [KO_USUARIO_PORTAL_KO_CALIFICACION_FK1] FOREIGN KEY([ID_USR])
REFERENCES [dbo].[KO_USUARIO_PORTAL] ([ID_USR])
GO
ALTER TABLE [dbo].[KO_CALIFICACION] CHECK CONSTRAINT [KO_USUARIO_PORTAL_KO_CALIFICACION_FK1]
GO
/****** Object:  ForeignKey [KO_CALIFICACION_KO_AVISO_FK1]    Script Date: 01/25/2010 22:04:35 ******/
ALTER TABLE [dbo].[KO_AVISO]  WITH CHECK ADD  CONSTRAINT [KO_CALIFICACION_KO_AVISO_FK1] FOREIGN KEY([ID_CALIFICACION])
REFERENCES [dbo].[KO_CALIFICACION] ([ID_CALIFICACION])
GO
ALTER TABLE [dbo].[KO_AVISO] CHECK CONSTRAINT [KO_CALIFICACION_KO_AVISO_FK1]
GO
/****** Object:  ForeignKey [KO_FK_AVISO_TIPO_PRODUCTO]    Script Date: 01/25/2010 22:04:35 ******/
ALTER TABLE [dbo].[KO_AVISO]  WITH CHECK ADD  CONSTRAINT [KO_FK_AVISO_TIPO_PRODUCTO] FOREIGN KEY([ID_TIPO_PRODUCTO])
REFERENCES [dbo].[KO_TIPO_PRODUCTO] ([ID_TIPO_PRODUCTO])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KO_AVISO] CHECK CONSTRAINT [KO_FK_AVISO_TIPO_PRODUCTO]
GO
/****** Object:  ForeignKey [KO_MONEDA_KO_AVISO_FK1]    Script Date: 01/25/2010 22:04:35 ******/
ALTER TABLE [dbo].[KO_AVISO]  WITH CHECK ADD  CONSTRAINT [KO_MONEDA_KO_AVISO_FK1] FOREIGN KEY([ID_MONEDA])
REFERENCES [dbo].[KO_MONEDA] ([ID_MONEDA])
GO
ALTER TABLE [dbo].[KO_AVISO] CHECK CONSTRAINT [KO_MONEDA_KO_AVISO_FK1]
GO
/****** Object:  ForeignKey [KO_REPUBLICACION_KO_AVISO_FK1]    Script Date: 01/25/2010 22:04:35 ******/
ALTER TABLE [dbo].[KO_AVISO]  WITH CHECK ADD  CONSTRAINT [KO_REPUBLICACION_KO_AVISO_FK1] FOREIGN KEY([ID_REPUBLICACION])
REFERENCES [dbo].[KO_REPUBLICACION] ([ID_REPUBLICACION])
GO
ALTER TABLE [dbo].[KO_AVISO] CHECK CONSTRAINT [KO_REPUBLICACION_KO_AVISO_FK1]
GO
/****** Object:  ForeignKey [KO_TIPO_AVISO_DURACION_KO_AVISO_FK1]    Script Date: 01/25/2010 22:04:35 ******/
ALTER TABLE [dbo].[KO_AVISO]  WITH CHECK ADD  CONSTRAINT [KO_TIPO_AVISO_DURACION_KO_AVISO_FK1] FOREIGN KEY([ID_TIPO_AVISO], [ID_DURACION])
REFERENCES [dbo].[KO_TIPO_AVISO_DURACION] ([ID_TIPO_AVISO], [ID_DURACION])
GO
ALTER TABLE [dbo].[KO_AVISO] CHECK CONSTRAINT [KO_TIPO_AVISO_DURACION_KO_AVISO_FK1]
GO
/****** Object:  ForeignKey [KO_USUARIO_PORTAL_KO_AVISO_FK1]    Script Date: 01/25/2010 22:04:35 ******/
ALTER TABLE [dbo].[KO_AVISO]  WITH CHECK ADD  CONSTRAINT [KO_USUARIO_PORTAL_KO_AVISO_FK1] FOREIGN KEY([ID_USR])
REFERENCES [dbo].[KO_USUARIO_PORTAL] ([ID_USR])
GO
ALTER TABLE [dbo].[KO_AVISO] CHECK CONSTRAINT [KO_USUARIO_PORTAL_KO_AVISO_FK1]
GO
/****** Object:  ForeignKey [KO_AVISO_KO_TRANSACCION_DESTAQUE_FK1]    Script Date: 01/25/2010 22:04:35 ******/
ALTER TABLE [dbo].[KO_TRANSACCION_DESTAQUE]  WITH CHECK ADD  CONSTRAINT [KO_AVISO_KO_TRANSACCION_DESTAQUE_FK1] FOREIGN KEY([ID_AVISO])
REFERENCES [dbo].[KO_AVISO] ([ID_AVISO])
GO
ALTER TABLE [dbo].[KO_TRANSACCION_DESTAQUE] CHECK CONSTRAINT [KO_AVISO_KO_TRANSACCION_DESTAQUE_FK1]
GO
/****** Object:  ForeignKey [KO_AVISO_KO_SEGUIMIENTO_FK1]    Script Date: 01/25/2010 22:04:35 ******/
ALTER TABLE [dbo].[KO_SEGUIMIENTO]  WITH CHECK ADD  CONSTRAINT [KO_AVISO_KO_SEGUIMIENTO_FK1] FOREIGN KEY([ID_AVISO])
REFERENCES [dbo].[KO_AVISO] ([ID_AVISO])
GO
ALTER TABLE [dbo].[KO_SEGUIMIENTO] CHECK CONSTRAINT [KO_AVISO_KO_SEGUIMIENTO_FK1]
GO
/****** Object:  ForeignKey [KO_FK_FOTO_AVISO]    Script Date: 01/25/2010 22:04:35 ******/
ALTER TABLE [dbo].[KO_FOTO]  WITH CHECK ADD  CONSTRAINT [KO_FK_FOTO_AVISO] FOREIGN KEY([ID_AVISO])
REFERENCES [dbo].[KO_AVISO] ([ID_AVISO])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KO_FOTO] CHECK CONSTRAINT [KO_FK_FOTO_AVISO]
GO
/****** Object:  ForeignKey [KO_FK_DENUNCIA_ASUNTO]    Script Date: 01/25/2010 22:04:35 ******/
ALTER TABLE [dbo].[KO_DENUNCIA]  WITH CHECK ADD  CONSTRAINT [KO_FK_DENUNCIA_ASUNTO] FOREIGN KEY([ID_ASUNTO])
REFERENCES [dbo].[KO_ASUNTO] ([ID_ASUNTO])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KO_DENUNCIA] CHECK CONSTRAINT [KO_FK_DENUNCIA_ASUNTO]
GO
/****** Object:  ForeignKey [KO_FK_DENUNCIA_AVISO]    Script Date: 01/25/2010 22:04:35 ******/
ALTER TABLE [dbo].[KO_DENUNCIA]  WITH CHECK ADD  CONSTRAINT [KO_FK_DENUNCIA_AVISO] FOREIGN KEY([ID_AVISO])
REFERENCES [dbo].[KO_AVISO] ([ID_AVISO])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KO_DENUNCIA] CHECK CONSTRAINT [KO_FK_DENUNCIA_AVISO]
GO
/****** Object:  ForeignKey [KO_AVISO_KO_AVISO_TAGS_FK1]    Script Date: 01/25/2010 22:04:35 ******/
ALTER TABLE [dbo].[KO_AVISO_TAGS]  WITH CHECK ADD  CONSTRAINT [KO_AVISO_KO_AVISO_TAGS_FK1] FOREIGN KEY([ID_AVISO])
REFERENCES [dbo].[KO_AVISO] ([ID_AVISO])
GO
ALTER TABLE [dbo].[KO_AVISO_TAGS] CHECK CONSTRAINT [KO_AVISO_KO_AVISO_TAGS_FK1]
GO
/****** Object:  ForeignKey [KO_TAGS_KO_AVISO_TAGS_FK1]    Script Date: 01/25/2010 22:04:35 ******/
ALTER TABLE [dbo].[KO_AVISO_TAGS]  WITH CHECK ADD  CONSTRAINT [KO_TAGS_KO_AVISO_TAGS_FK1] FOREIGN KEY([ID_TAGS])
REFERENCES [dbo].[KO_TAGS] ([ID_TAGS])
GO
ALTER TABLE [dbo].[KO_AVISO_TAGS] CHECK CONSTRAINT [KO_TAGS_KO_AVISO_TAGS_FK1]
GO
/****** Object:  ForeignKey [KO_AVISO_KO_AVISO_MEDIO_PAGO_FK1]    Script Date: 01/25/2010 22:04:35 ******/
ALTER TABLE [dbo].[KO_AVISO_MEDIO_PAGO]  WITH CHECK ADD  CONSTRAINT [KO_AVISO_KO_AVISO_MEDIO_PAGO_FK1] FOREIGN KEY([ID_AVISO])
REFERENCES [dbo].[KO_AVISO] ([ID_AVISO])
GO
ALTER TABLE [dbo].[KO_AVISO_MEDIO_PAGO] CHECK CONSTRAINT [KO_AVISO_KO_AVISO_MEDIO_PAGO_FK1]
GO
/****** Object:  ForeignKey [KO_MEDIO_PAGO_KO_AVISO_MEDIO_PAGO_FK1]    Script Date: 01/25/2010 22:04:35 ******/
ALTER TABLE [dbo].[KO_AVISO_MEDIO_PAGO]  WITH CHECK ADD  CONSTRAINT [KO_MEDIO_PAGO_KO_AVISO_MEDIO_PAGO_FK1] FOREIGN KEY([ID_MEDIO_PAGO])
REFERENCES [dbo].[KO_MEDIO_PAGO] ([ID_MEDIO_PAGO])
GO
ALTER TABLE [dbo].[KO_AVISO_MEDIO_PAGO] CHECK CONSTRAINT [KO_MEDIO_PAGO_KO_AVISO_MEDIO_PAGO_FK1]
GO
/****** Object:  ForeignKey [KO_FK_AVISO_CATEGORIA_AVISO]    Script Date: 01/25/2010 22:04:35 ******/
ALTER TABLE [dbo].[KO_AVISO_CATEGORIA]  WITH CHECK ADD  CONSTRAINT [KO_FK_AVISO_CATEGORIA_AVISO] FOREIGN KEY([ID_AVISO])
REFERENCES [dbo].[KO_AVISO] ([ID_AVISO])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KO_AVISO_CATEGORIA] CHECK CONSTRAINT [KO_FK_AVISO_CATEGORIA_AVISO]
GO
/****** Object:  ForeignKey [KO_FK_AVISO_CATEGORIA_CATEGORIA]    Script Date: 01/25/2010 22:04:35 ******/
ALTER TABLE [dbo].[KO_AVISO_CATEGORIA]  WITH CHECK ADD  CONSTRAINT [KO_FK_AVISO_CATEGORIA_CATEGORIA] FOREIGN KEY([ID_CATEGORIA])
REFERENCES [dbo].[KO_CATEGORIA] ([ID_CATEGORIA])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KO_AVISO_CATEGORIA] CHECK CONSTRAINT [KO_FK_AVISO_CATEGORIA_CATEGORIA]
GO
/****** Object:  ForeignKey [KO_TIPO_APROBACION_KO_TEXTO_FK1]    Script Date: 01/25/2010 22:04:35 ******/
ALTER TABLE [dbo].[KO_TEXTO]  WITH CHECK ADD  CONSTRAINT [KO_TIPO_APROBACION_KO_TEXTO_FK1] FOREIGN KEY([ID_TIPO_APROBACION])
REFERENCES [dbo].[KO_TIPO_APROBACION] ([ID_TIPO_APROBACION])
GO
ALTER TABLE [dbo].[KO_TEXTO] CHECK CONSTRAINT [KO_TIPO_APROBACION_KO_TEXTO_FK1]
GO
/****** Object:  ForeignKey [KO_TABLA_MODERADA_KO_PROCEDENCIA_MODERACION_FK1]    Script Date: 01/25/2010 22:04:35 ******/
ALTER TABLE [dbo].[KO_PROCEDENCIA_MODERACION]  WITH CHECK ADD  CONSTRAINT [KO_TABLA_MODERADA_KO_PROCEDENCIA_MODERACION_FK1] FOREIGN KEY([ID_TABLA_MODERADA])
REFERENCES [dbo].[KO_TABLA_MODERADA] ([ID_TABLA_MODERADA])
GO
ALTER TABLE [dbo].[KO_PROCEDENCIA_MODERACION] CHECK CONSTRAINT [KO_TABLA_MODERADA_KO_PROCEDENCIA_MODERACION_FK1]
GO
/****** Object:  ForeignKey [KO_ESTILO_KO_DESTAQUE_FK1]    Script Date: 01/25/2010 22:04:35 ******/
ALTER TABLE [dbo].[KO_DESTAQUE]  WITH CHECK ADD  CONSTRAINT [KO_ESTILO_KO_DESTAQUE_FK1] FOREIGN KEY([ID_ESTILO])
REFERENCES [dbo].[KO_ESTILO] ([ID_ESTILO])
GO
ALTER TABLE [dbo].[KO_DESTAQUE] CHECK CONSTRAINT [KO_ESTILO_KO_DESTAQUE_FK1]
GO
/****** Object:  ForeignKey [KO_TIPO_DESTAQUE_KO_DESTAQUE_FK1]    Script Date: 01/25/2010 22:04:35 ******/
ALTER TABLE [dbo].[KO_DESTAQUE]  WITH CHECK ADD  CONSTRAINT [KO_TIPO_DESTAQUE_KO_DESTAQUE_FK1] FOREIGN KEY([ID_TIPO_DESTAQUE])
REFERENCES [dbo].[KO_TIPO_DESTAQUE] ([ID_TIPO_DESTAQUE])
GO
ALTER TABLE [dbo].[KO_DESTAQUE] CHECK CONSTRAINT [KO_TIPO_DESTAQUE_KO_DESTAQUE_FK1]
GO
/****** Object:  ForeignKey [KO_FK_AVISO_DESTAQUE_AVISO]    Script Date: 01/25/2010 22:04:35 ******/
ALTER TABLE [dbo].[KO_AVISO_DESTAQUE]  WITH CHECK ADD  CONSTRAINT [KO_FK_AVISO_DESTAQUE_AVISO] FOREIGN KEY([AVISO_ID])
REFERENCES [dbo].[KO_AVISO] ([ID_AVISO])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KO_AVISO_DESTAQUE] CHECK CONSTRAINT [KO_FK_AVISO_DESTAQUE_AVISO]
GO
/****** Object:  ForeignKey [KO_FK_AVISO_DESTAQUE_DESTAQUE]    Script Date: 01/25/2010 22:04:35 ******/
ALTER TABLE [dbo].[KO_AVISO_DESTAQUE]  WITH CHECK ADD  CONSTRAINT [KO_FK_AVISO_DESTAQUE_DESTAQUE] FOREIGN KEY([ID_DESTAQUE])
REFERENCES [dbo].[KO_DESTAQUE] ([ID_DESTAQUE])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KO_AVISO_DESTAQUE] CHECK CONSTRAINT [KO_FK_AVISO_DESTAQUE_DESTAQUE]
GO
/****** Object:  ForeignKey [KO_FK_REGLA_TIPO_REACTIVACION]    Script Date: 01/25/2010 22:04:35 ******/
ALTER TABLE [dbo].[KO_REGLA]  WITH CHECK ADD  CONSTRAINT [KO_FK_REGLA_TIPO_REACTIVACION] FOREIGN KEY([ID_TIPO_REACTIVACION])
REFERENCES [dbo].[KO_TIPO_REACTIVACION] ([ID_TIPO_REACTIVACION])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KO_REGLA] CHECK CONSTRAINT [KO_FK_REGLA_TIPO_REACTIVACION]
GO
/****** Object:  ForeignKey [KO_FK_REGLA_TIPO_REGLA]    Script Date: 01/25/2010 22:04:35 ******/
ALTER TABLE [dbo].[KO_REGLA]  WITH CHECK ADD  CONSTRAINT [KO_FK_REGLA_TIPO_REGLA] FOREIGN KEY([ID_TIPO_REGLA])
REFERENCES [dbo].[KO_TIPO_REGLA] ([ID_TIPO_REGLA])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KO_REGLA] CHECK CONSTRAINT [KO_FK_REGLA_TIPO_REGLA]
GO
/****** Object:  ForeignKey [KO_FK_REGLA_TIPO_SUSPENSION]    Script Date: 01/25/2010 22:04:35 ******/
ALTER TABLE [dbo].[KO_REGLA]  WITH CHECK ADD  CONSTRAINT [KO_FK_REGLA_TIPO_SUSPENSION] FOREIGN KEY([ID_TIPO_SUSPENSION])
REFERENCES [dbo].[KO_TIPO_SUSPENSION] ([ID_TIPO_SUSPENSION])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KO_REGLA] CHECK CONSTRAINT [KO_FK_REGLA_TIPO_SUSPENSION]
GO
/****** Object:  ForeignKey [FK_PARAMETRO_PARAMETRO_GRUPO]    Script Date: 01/25/2010 22:04:35 ******/
ALTER TABLE [dbo].[KO_PARAMETRO]  WITH CHECK ADD  CONSTRAINT [FK_PARAMETRO_PARAMETRO_GRUPO] FOREIGN KEY([ID_PARAMETRO_GRUPO])
REFERENCES [dbo].[KO_PARAMETRO_GRUPO] ([ID_PARAMETRO_GRUPO])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KO_PARAMETRO] CHECK CONSTRAINT [FK_PARAMETRO_PARAMETRO_GRUPO]
GO
/****** Object:  ForeignKey [KO_FK_MODULO_TIPO_MODULO]    Script Date: 01/25/2010 22:04:35 ******/
ALTER TABLE [dbo].[IK_MODULO]  WITH CHECK ADD  CONSTRAINT [KO_FK_MODULO_TIPO_MODULO] FOREIGN KEY([ID_TIPO_MODULO])
REFERENCES [dbo].[IN_TIPO_MODULO] ([ID_TIPO_MODULO])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[IK_MODULO] CHECK CONSTRAINT [KO_FK_MODULO_TIPO_MODULO]
GO
/****** Object:  ForeignKey [KO_FK_MODULO_AVISO_AVISO]    Script Date: 01/25/2010 22:04:35 ******/
ALTER TABLE [dbo].[IN_MODULO_AVISO]  WITH CHECK ADD  CONSTRAINT [KO_FK_MODULO_AVISO_AVISO] FOREIGN KEY([ID_AVISO])
REFERENCES [dbo].[KO_AVISO] ([ID_AVISO])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[IN_MODULO_AVISO] CHECK CONSTRAINT [KO_FK_MODULO_AVISO_AVISO]
GO
/****** Object:  ForeignKey [KO_FK_MODULO_AVISO_MODULO]    Script Date: 01/25/2010 22:04:35 ******/
ALTER TABLE [dbo].[IN_MODULO_AVISO]  WITH CHECK ADD  CONSTRAINT [KO_FK_MODULO_AVISO_MODULO] FOREIGN KEY([ID_MODULO])
REFERENCES [dbo].[IK_MODULO] ([ID_MODULO])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[IN_MODULO_AVISO] CHECK CONSTRAINT [KO_FK_MODULO_AVISO_MODULO]
GO
/****** Object:  ForeignKey [KO_CATEGORIA_KO_DICCIONARIO_TAG_FK1]    Script Date: 01/25/2010 22:04:35 ******/
ALTER TABLE [dbo].[KO_DICCIONARIO_TAG]  WITH CHECK ADD  CONSTRAINT [KO_CATEGORIA_KO_DICCIONARIO_TAG_FK1] FOREIGN KEY([ID_CATEGORIA])
REFERENCES [dbo].[KO_CATEGORIA] ([ID_CATEGORIA])
GO
ALTER TABLE [dbo].[KO_DICCIONARIO_TAG] CHECK CONSTRAINT [KO_CATEGORIA_KO_DICCIONARIO_TAG_FK1]
GO
/****** Object:  ForeignKey [KO_FK_USUARIO_USUARIO_INTRANET]    Script Date: 01/25/2010 22:04:35 ******/
ALTER TABLE [dbo].[IN_USUARIO_INTRANET]  WITH CHECK ADD  CONSTRAINT [KO_FK_USUARIO_USUARIO_INTRANET] FOREIGN KEY([ID_USR])
REFERENCES [dbo].[KO_USUARIO] ([ID_USR])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[IN_USUARIO_INTRANET] CHECK CONSTRAINT [KO_FK_USUARIO_USUARIO_INTRANET]
GO
/****** Object:  ForeignKey [KO_FK_DETALLE_REGLA_REGLA]    Script Date: 01/25/2010 22:04:35 ******/
ALTER TABLE [dbo].[KO_DETALLE_REGLA]  WITH CHECK ADD  CONSTRAINT [KO_FK_DETALLE_REGLA_REGLA] FOREIGN KEY([ID_REGLA])
REFERENCES [dbo].[KO_REGLA] ([ID_REGLA])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KO_DETALLE_REGLA] CHECK CONSTRAINT [KO_FK_DETALLE_REGLA_REGLA]
GO
/****** Object:  ForeignKey [KO_FK_ITEM_MODULO]    Script Date: 01/25/2010 22:04:35 ******/
ALTER TABLE [dbo].[IK_ITEM]  WITH CHECK ADD  CONSTRAINT [KO_FK_ITEM_MODULO] FOREIGN KEY([ID_MODULO])
REFERENCES [dbo].[IK_MODULO] ([ID_MODULO])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[IK_ITEM] CHECK CONSTRAINT [KO_FK_ITEM_MODULO]
GO
/****** Object:  ForeignKey [KO_FK_MOTIVO_REGLA]    Script Date: 01/25/2010 22:04:35 ******/
ALTER TABLE [dbo].[KO_MOTIVO]  WITH CHECK ADD  CONSTRAINT [KO_FK_MOTIVO_REGLA] FOREIGN KEY([ID_REGLA])
REFERENCES [dbo].[KO_REGLA] ([ID_REGLA])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KO_MOTIVO] CHECK CONSTRAINT [KO_FK_MOTIVO_REGLA]
GO
/****** Object:  ForeignKey [KO_FK_MOTIVO_TIPO_MOTIVO]    Script Date: 01/25/2010 22:04:35 ******/
ALTER TABLE [dbo].[KO_MOTIVO]  WITH CHECK ADD  CONSTRAINT [KO_FK_MOTIVO_TIPO_MOTIVO] FOREIGN KEY([ID_TIPO_MOTIVO])
REFERENCES [dbo].[KO_TIPO_MOTIVO] ([ID_TIPO_MOTIVO])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KO_MOTIVO] CHECK CONSTRAINT [KO_FK_MOTIVO_TIPO_MOTIVO]
GO
/****** Object:  ForeignKey [KO_FK_PROPIEDAD_REGLA_PROPIEDAD]    Script Date: 01/25/2010 22:04:35 ******/
ALTER TABLE [dbo].[KO_PROPIEDAD_REGLA]  WITH CHECK ADD  CONSTRAINT [KO_FK_PROPIEDAD_REGLA_PROPIEDAD] FOREIGN KEY([ID_PROPIEDAD])
REFERENCES [dbo].[KO_PROPIEDAD] ([ID_PROPIEDAD])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KO_PROPIEDAD_REGLA] CHECK CONSTRAINT [KO_FK_PROPIEDAD_REGLA_PROPIEDAD]
GO
/****** Object:  ForeignKey [KO_FK_PROPIEDAD_REGLA_REGLA]    Script Date: 01/25/2010 22:04:35 ******/
ALTER TABLE [dbo].[KO_PROPIEDAD_REGLA]  WITH CHECK ADD  CONSTRAINT [KO_FK_PROPIEDAD_REGLA_REGLA] FOREIGN KEY([ID_REGLA])
REFERENCES [dbo].[KO_REGLA] ([ID_REGLA])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KO_PROPIEDAD_REGLA] CHECK CONSTRAINT [KO_FK_PROPIEDAD_REGLA_REGLA]
GO
/****** Object:  ForeignKey [KO_CALIFICACION_KO_MENSAJE_FK1]    Script Date: 01/25/2010 22:04:36 ******/
ALTER TABLE [dbo].[KO_MENSAJE]  WITH CHECK ADD  CONSTRAINT [KO_CALIFICACION_KO_MENSAJE_FK1] FOREIGN KEY([ID_CALIFICACION])
REFERENCES [dbo].[KO_CALIFICACION] ([ID_CALIFICACION])
GO
ALTER TABLE [dbo].[KO_MENSAJE] CHECK CONSTRAINT [KO_CALIFICACION_KO_MENSAJE_FK1]
GO
/****** Object:  ForeignKey [KO_TIPO_MENSAJE_KO_MENSAJE_FK1]    Script Date: 01/25/2010 22:04:36 ******/
ALTER TABLE [dbo].[KO_MENSAJE]  WITH CHECK ADD  CONSTRAINT [KO_TIPO_MENSAJE_KO_MENSAJE_FK1] FOREIGN KEY([ID_TIPO_MENSAJE])
REFERENCES [dbo].[KO_TIPO_MENSAJE] ([ID_TIPO_MENSAJE])
GO
ALTER TABLE [dbo].[KO_MENSAJE] CHECK CONSTRAINT [KO_TIPO_MENSAJE_KO_MENSAJE_FK1]
GO
/****** Object:  ForeignKey [KO_USUARIO_PORTAL_KO_MENSAJE_FK1]    Script Date: 01/25/2010 22:04:36 ******/
ALTER TABLE [dbo].[KO_MENSAJE]  WITH CHECK ADD  CONSTRAINT [KO_USUARIO_PORTAL_KO_MENSAJE_FK1] FOREIGN KEY([ID_USR])
REFERENCES [dbo].[KO_USUARIO_PORTAL] ([ID_USR])
GO
ALTER TABLE [dbo].[KO_MENSAJE] CHECK CONSTRAINT [KO_USUARIO_PORTAL_KO_MENSAJE_FK1]
GO
/****** Object:  ForeignKey [KO_FK_DETALLE_MENSAJE_MENSAJE]    Script Date: 01/25/2010 22:04:36 ******/
ALTER TABLE [dbo].[KO_DETALLE_MENSAJE]  WITH CHECK ADD  CONSTRAINT [KO_FK_DETALLE_MENSAJE_MENSAJE] FOREIGN KEY([ID_MENSAJE])
REFERENCES [dbo].[KO_MENSAJE] ([ID_MENSAJE])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KO_DETALLE_MENSAJE] CHECK CONSTRAINT [KO_FK_DETALLE_MENSAJE_MENSAJE]
GO
/****** Object:  ForeignKey [KO_TIPO_MENSAJE_KO_DETALLE_MENSAJE_FK1]    Script Date: 01/25/2010 22:04:36 ******/
ALTER TABLE [dbo].[KO_DETALLE_MENSAJE]  WITH CHECK ADD  CONSTRAINT [KO_TIPO_MENSAJE_KO_DETALLE_MENSAJE_FK1] FOREIGN KEY([ID_TIPO_MENSAJE])
REFERENCES [dbo].[KO_TIPO_MENSAJE] ([ID_TIPO_MENSAJE])
GO
ALTER TABLE [dbo].[KO_DETALLE_MENSAJE] CHECK CONSTRAINT [KO_TIPO_MENSAJE_KO_DETALLE_MENSAJE_FK1]
GO
/****** Object:  ForeignKey [KO_USUARIO_PORTAL_KO_DETALLE_MENSAJE_FK1]    Script Date: 01/25/2010 22:04:36 ******/
ALTER TABLE [dbo].[KO_DETALLE_MENSAJE]  WITH CHECK ADD  CONSTRAINT [KO_USUARIO_PORTAL_KO_DETALLE_MENSAJE_FK1] FOREIGN KEY([ID_USR])
REFERENCES [dbo].[KO_USUARIO_PORTAL] ([ID_USR])
GO
ALTER TABLE [dbo].[KO_DETALLE_MENSAJE] CHECK CONSTRAINT [KO_USUARIO_PORTAL_KO_DETALLE_MENSAJE_FK1]
GO
/****** Object:  ForeignKey [KO_TEXTO_KO_TEXTO_PROC_MODERACION_FK1]    Script Date: 01/25/2010 22:04:36 ******/
ALTER TABLE [dbo].[KO_TEXTO_PROC_MODERACION]  WITH CHECK ADD  CONSTRAINT [KO_TEXTO_KO_TEXTO_PROC_MODERACION_FK1] FOREIGN KEY([ID_TEXTO])
REFERENCES [dbo].[KO_TEXTO] ([ID_TEXTO])
GO
ALTER TABLE [dbo].[KO_TEXTO_PROC_MODERACION] CHECK CONSTRAINT [KO_TEXTO_KO_TEXTO_PROC_MODERACION_FK1]
GO
/****** Object:  ForeignKey [KO_TIPO_REACTIVACION_KO_TEXTO_PROC_MODERACION_FK1]    Script Date: 01/25/2010 22:04:36 ******/
ALTER TABLE [dbo].[KO_TEXTO_PROC_MODERACION]  WITH CHECK ADD  CONSTRAINT [KO_TIPO_REACTIVACION_KO_TEXTO_PROC_MODERACION_FK1] FOREIGN KEY([ID_TIPO_REACTIVACION])
REFERENCES [dbo].[KO_TIPO_REACTIVACION] ([ID_TIPO_REACTIVACION])
GO
ALTER TABLE [dbo].[KO_TEXTO_PROC_MODERACION] CHECK CONSTRAINT [KO_TIPO_REACTIVACION_KO_TEXTO_PROC_MODERACION_FK1]
GO
/****** Object:  ForeignKey [KO_FK_NOTIFICACION_MOTIVO]    Script Date: 01/25/2010 22:04:36 ******/
ALTER TABLE [dbo].[KO_NOTIFICACION]  WITH CHECK ADD  CONSTRAINT [KO_FK_NOTIFICACION_MOTIVO] FOREIGN KEY([ID_MOTIVO])
REFERENCES [dbo].[KO_MOTIVO] ([ID_MOTIVO])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KO_NOTIFICACION] CHECK CONSTRAINT [KO_FK_NOTIFICACION_MOTIVO]
GO
/****** Object:  ForeignKey [KO_FK_NOTIFICACION_TIPO_NOTIFICACION]    Script Date: 01/25/2010 22:04:36 ******/
ALTER TABLE [dbo].[KO_NOTIFICACION]  WITH CHECK ADD  CONSTRAINT [KO_FK_NOTIFICACION_TIPO_NOTIFICACION] FOREIGN KEY([ID_TIPO_NOTIFICACION])
REFERENCES [dbo].[KO_TIPO_NOTIFICACION] ([ID_TIPO_NOTIFICACION])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KO_NOTIFICACION] CHECK CONSTRAINT [KO_FK_NOTIFICACION_TIPO_NOTIFICACION]
GO
/****** Object:  ForeignKey [IN_ROL_IN_ROL_USUARIO_FK1]    Script Date: 01/25/2010 22:04:36 ******/
ALTER TABLE [dbo].[IN_ROL_USUARIO]  WITH CHECK ADD  CONSTRAINT [IN_ROL_IN_ROL_USUARIO_FK1] FOREIGN KEY([ID_ROL])
REFERENCES [dbo].[IN_ROL] ([ID_ROL])
GO
ALTER TABLE [dbo].[IN_ROL_USUARIO] CHECK CONSTRAINT [IN_ROL_IN_ROL_USUARIO_FK1]
GO
/****** Object:  ForeignKey [IN_USUARIO_INTRANET_IN_ROL_USUARIO_FK1]    Script Date: 01/25/2010 22:04:36 ******/
ALTER TABLE [dbo].[IN_ROL_USUARIO]  WITH CHECK ADD  CONSTRAINT [IN_USUARIO_INTRANET_IN_ROL_USUARIO_FK1] FOREIGN KEY([ID_USR])
REFERENCES [dbo].[IN_USUARIO_INTRANET] ([ID_USR])
GO
ALTER TABLE [dbo].[IN_ROL_USUARIO] CHECK CONSTRAINT [IN_USUARIO_INTRANET_IN_ROL_USUARIO_FK1]
GO
