.w980
	display block
	margin 0 auto
	position relative
	width 980px
.w960
	display block
	margin 15px 0 15px 15px
	position relative
	width 960px
.clear
	clear both
	width 100%
	height 0
.tCenter
	text-align center
.noBg
	background none
.tac
	text-align center
.tal
	text-align left
.tar
	text-align right
img.none
	display none
.show-active
	background showactive
.last-item
	border-bottom none !important


#user-options
	background url('../img/bg-free-call.jpg?version') repeat scroll 0 0 #333333
	display block
	height 88px
	width 100%

.about-seller
	float left
	width 100%
	span.icon
		background url('../img/icon-set-wl.png?version') no-repeat -151px -7px
		float left
		display block
		margin 7px 7px 7px 0px
		height 20px
		width 20px
	h2.title
		font-size 20px
		padding-left 20px
		border-bottom 5px solid #CCCCCC
	.text-about-seller
		float left
		margin 10px auto
		width 100%
		ul.list-medals
			margin 0
			padding 0
			float left
			list-style none
			width 260px
			li
				float left
				width 80px
				text-align center
				span
					display inline-block
					*display inline
					*zoom 1
					text-align center
					width 100%
				span.medal
					margin-top 5px
					height 50px
					width 32px
				span.medal-super
					background url('../img/icon-set-wl.png?version') no-repeat -50px -160px
				span.medal-gold
					background url('../img/icon-set-wl.png?version') no-repeat -81px -160px
				span.medal-silver
					background url('../img/icon-set-wl.png?version') no-repeat -115px -160px
				span.medal-bronce
					background url('../img/icon-set-wl.png?version') no-repeat -147px -160px
		p
			span
				display block
			a
				display inline	






/* -- File Content - Ficha */

/* Result Content - Productos */

.result-content
	h3
		line-height 35px
		font-size 18px
		margin-bottom 10px
	[class^="icon-"]
		display inline-block
		*display inline
		vertical-align top
		*zoom 1
	.content-right
		#breadcrumb
			display block
			float left
			height 40px
			width 100%
			line-height 23px
			.content
				color #2C2C2C
				margin 10px 0 10px 0px
				a
					display inline
					text-decoration underline
		.result-detail
			float left
			display block
			width 70%
		.other-options-header
			list-style none
			margin 0
			float right
			padding 0
			li
				float left
				height 20px
				a
					float left
					height 20px
					margin-left 5px
				span
					float left
					height 21px
					width 20px
				span.icon-mail
					background url('../img/icon-set-wl.png?version') -427px -110px no-repeat
				span.icon-printer
					background url('../img/icon-set-wl.png?version') -427px -131px no-repeat
			li.margin
				margin-right 10px
		.pagination-barra
			bgBarResult()
			height 35px
			margin 10px 0 10px
			ul
				list-style none
				float left
				padding 0
				margin 0
				li
					float left
					padding 10px 10px 0px 10px
					a
						color #333333
						display inline-block
						*display inline
						*zoom 1
						*height 12px
						font-size 14px
				.number
					width 20px
					text-align center
				.description
					width 434px !important
					text-align center
				.visit
					width 110px
					text-align center
					.btn-visit
						display block
						margin 0 auto
						width 77px
					span
						background url('../img/arrowUpDown.png?version') 0 0 no-repeat
						display inline-block
						vertical-align top
						*display inline
						*zoom 1
						height 11px
						width 30px
						margin 5px 0 0 5px
				.price
					width 126px
					text-align center
					.btn-price
						display block
						margin 0 auto
						width 77px
					span
						background url('../img/arrowUpDown.png?version') 0 0 no-repeat
						display inline-block
						*display inline
						*zoom 1
						height 11px
						width 30px
						margin 5px 0 0 5px
				.delete
					width 133px !important
		// RESULTADOS LISTA
		.list-result-products
			list-style none
			margin 0
			padding 0
			.product-row
				float left
				width 100%
				margin 5px 0
				background #FCFCFC
				div
					float left
					padding 7px 0
				.number-product
					height 20px
					width 40px
					text-align center
				.description-product
					margin-left 5px
					width 449px !important
					padding 5px 0 0 0
					input,h3,img,p
						float left
					h3
						color #003399
						display block
						width 79%
						line-height 23px
						font-size 14px
						margin 5px 0 0 0
						max-height 50px
						overflow hidden
					h3.especial
						width 74%
					.conteiner-img
						margin 0px 10px 5px 5px
						width 75px
						height 75px
						display table-cell
						text-align center
						vertical-align middle
						padding 0
					img
						background #EDEDED
						max-width 75px
						max-height 75px
						*width 75px
						*height 75px
					p
						display block
					input
						margin 10px 0 0 0
				.description-product-large
					margin-left 5px
					width 700px !important
					padding 5px 0 0 0
					input,h3,img,p
						float left
					.conteiner-img
						margin 0px 10px 5px 5px
						width 75px
						height 75px
						text-align center
						display table-cell
						vertical-align middle
						padding 0
					h3
						color #003399
						display block
						width 79%
						line-height 23px
						font-size 14px
						margin 5px 0 0 0
						max-height 50px
						overflow hidden
					img
						background #EDEDED
						border 1px solid #C8C6C6
						margin 0px 10px 5px 5px
						max-width 75px
						max-height 75px
						*width 75px
						*height 75px
					p
						display block
					input
						margin 10px 0 0 0
				.visit-product
					width 126px
					p
						text-align center
						font-size 14px
						padding 5px 0 0 0
				.line-vertical
					height 83px
					width 2px
					border-right 1px solid #999999
					margin 5px 0
				.precio-product
					width 134px
					margin-left 15px
					h4
						color #CC0000
						font-size 18px
						font-weight bold
						padding-bottom 10px
						text-align center
						padding-top 6px
					span
						display block
				.delete-product
					text-align center
					width 123px
				.w148
					display table-cell
					height 92px
					margin-top 10px
					vertical-align middle
					width 148px
			.green
				background #E0EBCC
			.yellow
				background #FFF5CC
			.gray
				background #EBEBEB
		//  -- RESULTADOS LISTA
		// RESULTADOS CUADRICULA
		.square-result-products
			list-style none
			margin 8px 0px
			padding 0
			.middle
				margin 0 18px
			.product-square
				background #FCFCFC
				float left
				height 325px
				width 227px
				padding 10px 0 0 10px
				margin-top 10px
			input, img
				float left
			.conteiner-img
				margin 0px 10px 5px 5px
				width 150px
				height 150px
				text-align center
				display table-cell
				vertical-align middle
				padding 0
			.inner-conteiner-img
				display inline-block
				*display block
				*zoom 1
				background #EDEDED
				border 1px solid #C8C6C6
				img
					max-width 150px
					max-height 150px
					float none
			input
				margin 10px 42px 0 0
			h4
				text-align center
				padding 13px 0 10px
				font-size 24px
				color #CC0000
				margin 0
			h3
				font-size 12px
				height 27px
				line-height 15px
				margin 0
				overflow hidden
				padding 10px 0 5px
				position relative
				text-align left
				a
					width 206px
					color #003399
			p
				display block
				float left
				color #003399
				margin-bottom 15px
			span
				display block
				float left
				width 100%
				line-height 15px
			.green
				background #E0EBCC
			.yellow
				background #FFF5CC
			.gray
				background #EBEBEB
		// -- RESULTADOS CUADRICULA
		.other-options-footer
				list-style none
				margin 0
				float left
				padding 5px 0 5px 0 !important
				li
					float left
					height 20px
					margin-right 10px !important
					a
						float left
						height 20px
						margin-left 5px
					span
						float left
						height 21px
						width 20px
					span.icon-mail
						background url('../img/icon-set-wl.png?version') -427px -110px no-repeat
					span.icon-printer
						background url('../img/icon-set-wl.png?version') -427px -131px no-repeat

/* -- Result Content - Productos */

/* Busqueda Avanzada */
#advanced-search
	position absolute
	top 46px
	right 0
	z-index 30
	display none
.detail-triangule
	display block
	width 746px
	height 20px
	position relative
	img
		position absolute
		top 1px
		right 0px
.content-advanced-search
	background #DFEAFF
	border 1px solid #6F9DFF
	border-radius 5px
	box-shadow 5px 5px 5px #BBB
	width 746px
	padding 5px 0 0px 7px
	float left
	h2
		padding 7px 0 0px 0px
		float left
		width 100%
		margin 0
		p
			fftre()
			font-size 20px
			margin 0
	input[type='text']
		width 210px
		height 17px
		*height 11px
		margin-left 0
	select
		margin 13px 3px 
		width 160px
	.icon-left
		background url('../img/icon-set-wl.png?version') -152px -7px no-repeat
		float left
		margin-right 5px
		height 22px
		width 20px
	.search-input-row-one,.search-input-row-two,.search-input-row-three,.search-input-row-four
		display block
		float left
		width 98%
		margin 0 auto 8px
		border-bottom 1px solid #FFF
	.search-input-row-one
		*padding-bottom 13px
		input[type='text'], select
			border 1px solid #CCCCCC
			color #666666
			float left
			margin 13px 5px 13px 0px
			padding 4px 5px 5px 10px
	.search-input-row-three
		select
			margin 0
		a
			display inline
			margin 0 20px
	.search-input-row-four
		border-bottom 0
		text-align center
	.right-option
		width 358px
		float left
	.disable-input
		color #ccc
	.control-group > label
		text-align left
	.txt-price[type='text']
		width 90px
		margin-right 10px !important
	.btn-search
		border-radius 5px
		border 0
		bgButton()
		height 30px
		width 180px
		ffhelve()
		font-size 20px
		color #fff
	.btn-search:hover
		background #B00000
		border-radius: 5px 5px 5px 5px
	.close-search-advanced
		font-size 12px
		float right
		margin-top 12px
		color #039
		*margin-top 0px
	.close-search-advanced:hover
		color #039

/* -- Busqueda Avanzada */

/* -- Category Content  */

.category-content
	a
		color #003399
		text-decoration none
	a:hover
		text-decoration underline
	.title-category
		float left
		display block
		width 100%
		margin-bottom 0
		span
			float left
			margin-right 10px
			height 32px
			width 32px
		.icon-accessory
			background url('../img/icon-set-category.png?version') 0 0 no-repeat
		.icon-more-eighteen
			background url('../img/icon-set-category.png?version') -30px 0 no-repeat
			width 34px
		.icon-pet
			background url('../img/icon-set-category.png?version') -64px 0 no-repeat
		.icon-art
			background url('../img/icon-set-category.png?version') -97px 0 no-repeat
		.icon-moto
			background url('../img/icon-set-category.png?version') -129px 0 no-repeat
		.icon-toy
			background url('../img/icon-set-category.png?version') -164px 0 no-repeat
		.icon-photo
			background url('../img/icon-set-category.png?version') -197px 0 no-repeat
		.icon-mobile
			background url('../img/icon-set-category.png?version') -1px -32px no-repeat
		.icon-stamp
			background url('../img/icon-set-category.png?version') -34px -33px no-repeat
		.icon-play
			background url('../img/icon-set-category.png?version') -64px -33px no-repeat
		.icon-play-free
			background url('../img/icon-set-category.png?version') -97px -34px no-repeat
		.icon-electro
			background url('../img/icon-set-category.png?version') -134px -34px no-repeat
		.icon-entretaiment
			background url('../img/icon-set-category.png?version') -164px -34px no-repeat
		.icon-ticket
			background url('../img/icon-set-category.png?version') -200px -34px no-repeat
		.icon-office
			background url('../img/icon-set-category.png?version') -1px -65px no-repeat
		.icon-build
			background url('../img/icon-set-category.png?version') -33px -65px no-repeat
		.icon-pc
			background url('../img/icon-set-category.png?version') -64px -65px no-repeat
		.icon-house
			background url('../img/icon-set-category.png?version') -96px -64px no-repeat
		.icon-music-instrument
			background url('../img/icon-set-category.png?version') -134px -64px no-repeat
		.icon-yewelry
			background url('../img/icon-set-category.png?version') -165px -64px no-repeat
		.icon-dice
			background url('../img/icon-set-category.png?version') -200px -64px no-repeat
		.icon-junior
			background url('../img/icon-set-category.png?version') -1px -95px no-repeat
		.icon-book
			background url('../img/icon-set-category.png?version') -33px -95px no-repeat
		.icon-music
			background url('../img/icon-set-category.png?version') -66px -95px no-repeat
		.icon-bussines
			background url('../img/icon-set-category.png?version') -97px -95px no-repeat
		.icon-other
			background url('../img/icon-set-category.png?version') -131px -95px no-repeat
		.icon-mp3
			background url('../img/icon-set-category.png?version') -163px -95px no-repeat
		.icon-clothes
			background url('../img/icon-set-category.png?version') -200px -95px no-repeat
		.icon-pretty
			background url('../img/icon-set-category.png?version') -2px -125px no-repeat
		.icon-travel
			background url('../img/icon-set-category.png?version') -33px -125px no-repeat
		p
			float left
			color #CC0000
			font-size 20px
			line-height 30px
			font-weight normal
			display block
			ffhelveNormal()
		p.blue
			color #003399
	.content-subcategory
		float left
		width 45%
		padding 10px 0
		ul.item-subcategory
			display block
			margin-left 15px
			float left
			width 475px
			li
				line-height 20px
				width 226px
				float left
				font-size 10px
				ffhelveNormal()
			li.title-subcategory
				list-style none
				float none
				width 100%
				margin-left -15px
			h3
				color #003399
				font-size 14px
				ffhelveNormal()
	.show-all
			width 100% !important
	.gallery-3d
		float left !important
		width 528px !important
		.carousel-container
			width 528px
		#carousel
			width 528px
	.tracker-individual-container
		right 6px
	#carousel-right
		right 0
	.shadow-space
		background url('../img/bg-box-shadow.jpg?version') no-repeat 80px 0
		height 34px
		width 100%
		float left
.go-to-index-category
	float left
	display block
	width 100%
	padding 0 0 20px 0
	a
		float right
	span
		background url('../img/icon-set-wl.png?version') -150px -7px no-repeat
		height 21px
		width 21px
		float right
		margin-left 10px

/* -- Category Content */
/* -- Seleccionar Destaque  */

/* Seleccionar Categoria  */
.btn-continue
	display block
	width 100%
	float left
/* -- Seleccionar Categoria  */

/* Registrar Datos */



/* -- Registrar Datos  */

/* Pagar - Paso Final */
.pay-flow
	padding 20px 0 0 0
	.detail-max
		display block
		width 100%
		float left
		margin 0
		padding 0
		color #999
		font-size 10px
	.left-column
		float left
		width 49%
		margin-right 10px
	.right-column
		float right
		width 49%
	.form-horizontal
		.controls
			margin-left 106px
		.options
			margin-top 20px
	.control-group >
		label
			width 90px
	.sub-total
		text-align right
		font-size 14px
		font-weight bold
		display block
		width 100%
		margin 10px 0 20px 0
	.sub-total > *:first-child
		margin-right 20px
	.item-flow
		width 485px
		float left
		margin-bottom 20px
		.row
			margin-left 0px
		h3
			background #CCC
			padding 5px
			font-size 16px
			fftre()
		img
			padding 10px 10px 25px 10px
			float left
		h2
			float right
			width 365px
			font-size 16px
			line-height 18px
			margin 10px 0 20px 0
			fftre()
		.pay-detail-product
			float left
			width 365px
			.row-item
				width 100%
				display block
				float left
				span
					display block
					float left
					width 50%
				span.left
					display block
					width 140px
				span.right
					font-weight bold
				span.red
					color #cf0000
	.detail-buy
		list-style none
		margin 0 0 0 10px
		padding 0
		li
			border-bottom 1px solid #ccc
			margin 3px 0
			padding 6px 0
		li.title
			border-bottom 0px
			font-size 14px
			margin-top 15px
		strong.line
			display block
	h4.title-type-pay
		margin 17px 0 10px 19px
		float left
		width 100%
	label.card
		input[type=radio]
			margin 10px 21px 20px 21px
			float left
	span.img
		display block
		height 45px
		width 66px
		float left
	span.visa
		background url('../img/icon-set-steps.png?version') -521px -9px no-repeat
	span.pago-efectivo
		background url('../img/icon-set-steps.png?version') -589px -9px no-repeat
	span.master-card
		background url('../img/icon-set-steps.png?version') -656px -9px no-repeat
	span.verify-visa
		display block
		height 28px
		width 54px
		float left
		background url('../img/icon-set-steps.png?version') -724px -29px no-repeat
	span.description
		width 344px
		*width 337px
		margin-left 20px
		display block
		float left
		min-height 72px
		*height 114px
	span.middle
		line-height 32px
		height 42px
		width 175px
	span.btn-paid
		display block
		width 100%
		float left
		border-top 2px solid #ccc
		padding-top 20px
		button
			fftre()
			bgButton()
			border-radius 5px
			color #FFFFFF
			display block
			height 38px
			width 161px
			margin 0 auto
			border 0
			font-size 20px
			*line-height 25px !important
.security
	display block
	width 100%
	text-align center
	float left
	margin 10px 0
	span
		margin 0 10px
		display inline-block
		*display inline
		*zoom 1
	.icon-padlock
		background url('../img/icon-set-steps.png?version') -3px -640px no-repeat
		height 26px
		width 21px
		margin-top 7px
	.text
		height 8px
		width 427px
		margin 8px 0 0 0
		vertical-align middle
	.icon-ssl
		height 47px
		width 43px
		background url('../img/icon-set-steps.png?version') -30px -640px no-repeat
	.icon-kasperky
		height 45px
		width 45px
		background url('../img/icon-set-steps.png?version') -80px -640px no-repeat
	.icon-versign
		height 42px
		width 92px
		background url('../img/icon-set-steps.png?version') -134px -640px no-repeat
/* -- Pagar - Paso Final  */




/* Ejemplo de Destaque */
.example-highlight
	margin 10px
	p
		margin-left 15px
	.title-main
		width 100%
		margin-bottom 10px
		span.icon
			background url('../img/icon-set-wl.png?version') no-repeat -151px -7px
			float left
			display block
			margin 7px 7px 7px 0px
			height 20px
			width 20px
		h2.title
			font-size 20px
			padding-left 20px
	.image-highlight
		float left
		margin 9px
		width 458px
		height 471px
	.paper-preview
		float left
		width 260px
		p.preview-inline
			border-top 1px solid #000
			border-bottom 1px solid #000
			padding 10px 0
			span
				display inline
		p.preview
			border-top 1px solid #000
			border-bottom 1px solid #000
			padding 10px 0
			span
				width 100%
				display block
/* -- Ejemplo de Destaque */

/* Administrador Avisos Internos */


/* -- Administradores Avisos Internos */

/* Pediente pago */
ul.pending-payment
	.red
		padding 7px 0
		font-weight bold
		*width 130px
	.btn-standar
		font-size 14px
		padding 3px 10px 3px 10px
		cursor pointer
		float none !important
	.precio-product
		text-align center

/* Confirmar publicacion */

#wrapper-video .pagoefectivo-wrap-pago
	height 700px
	margin 0 auto
	position relative
	width 600px

#wrapper-video .pagoefectivo-lb-pago
	background none repeat scroll 0 0 #FFFFFF
	display block
	float left
	font-family Arial,Helvetica,Tahoma,trebuchet MS
	height 645px
	width 600px

#wrapper-video .pagoefectivo-lb-pago .pagoefectivo-container-pago
	display block
	float left
	height 600px
	margin 15px 0 0 27px
	width 545px

#wrapper-video .pagoefectivo-lb-pago .pagoefectivo-container-pago h2.title-pago
	border-bottom: 3px solid #CCCCCC
	line-height 36px
	margin-bottom 10px
	color #666666
	font-weight normal
	p
		font-size 19px
		font-weight bold
	span.icon-right
		float left
		height 26px
		width 22px
		margin-right 10px
		background url('../img/icon-set-wl.png?version') -150px -7px no-repeat

#wrapper-video .pagoefectivo-lb-pago .pagoefectivo-container-pago p.description-pago
	color #666666
	display block
	font-size 13px
	height 37px

#wrapper-video .pagoefectivo-lb-pago .pagoefectivo-container-pago p.description2-pago
	color #666666
	display block
	font-size 13px
	height 38px
	margin 15px 0 10px


#wrapper-video .pagoefectivo-lb-pago .pagoefectivo-container-pago .video-player-pago
	background none repeat scroll 0 0 #000000
	display block
	height 300px
	margin 0 0 0 22px
	width 500px

#wrapper-video .pagoefectivo-lb-pago .pagoefectivo-container-pago .video-player-pago #pagoefectivo-video-pago
	display block
	height 300px
	width 500px

#wrapper-video .pagoefectivo-lb-pago .pagoefectivo-container-pago .means-of-payment-pago
	display block
	height 45px
	width 545px

#wrapper-video .pagoefectivo-lb-pago .pagoefectivo-container-pago .means-of-payment-pago .left-pago
	display block
	float left
	height 45px
	width 100px

#wrapper-video .pagoefectivo-lb-pago .pagoefectivo-container-pago .means-of-payment-pago .right-pago
	color #666666
	display block
	float left
	font-size 12px
	height 45px
	width 421px
	word-wrap break-word

/*validate error*/
.tipsy
	background: url("../img/tipsy.gif?version") no-repeat scroll 0 0 transparent
	font-size: 10px
	padding: 5px
.tipsy-inner
	background-color: black
	color: white
	max-width: 200px
	padding: 5px 8px 4px
	text-align: center
.tipsy-north
	background-position: center top
.tipsy-south
	background-position: center bottom
.tipsy-east
	background-position: right center
.tipsy-west
	background-position: left center

/* // validate error*/

/* tags ubicaciones */

.show-request-text
	img
		width 11px
		height 8px
		margin 6px 0 0 5px
		vertical-align top
		display inline-block
		*display inline
		*zoom 1
/* tags ubicaciones */

/* uploader */

#input01
	width 300px
	display block
	margin-right 10px

input#browser01 input#add01
	width 85px
	display block

.first-columm
	display block
	line-height 25px
	width 80px
	float left

.second-columm
	display block
	line-height 25px
	width 367px
	float left

.third-columm
	display block
	line-height 25px
	width 90px
	float left


.admin-image-content
	background white
	width 690px
	padding 10px 0

.options-image
	margin 0 10px
	padding 10px
	width -40px

.fielset-content
	background-color #EDEDED
	margin 10px 0 10px 10px
	padding: 10px
	width: -40px
	*zoom 1
	&:before,&:after
		display table
		content ""
		line-height 0
	&:after
		clear both

.fielset-content-left
	width 160px
	text-align center
	float left
	h3
		margin-bottom 0px

.fielset-content-right  
	border-color #999
	border-style solid
	border-width 0 0 0 1px
	display block
	float right
	padding 0 0 0 20px
	width 449px

.w120
	display block
	float left
	min-height 90px
	margin 0 10px 10px 0
	width 136px
	position relative
	a
		display block
		float left
		width 128px
		height 128px
	.item-del a, .item-fav a
		width 15px
		height 20px
	p
		display block
		font-size 11px
		line-height 15px
		margin 0
	.item-fav
		display block
		height 26px
		left 82px
		top 0px
		width 26px
		float right
		margin 0 0 0 5px
	.item-edit
		display block
		height 26px
		left 113px
		top 0px
		width 26px
		float right
		margin 0 0 0 5px
	.item-del
		display block
		height 26px
		left 144px
		top 0px
		width 26px
		float right
		margin 0 0 0 5px
	img.main-class
		width 128px
		height 128px
		border-radius(6px)
		&:hover
			box-shadow 0 0 

/* --uploader */


/* Carusel */

/* Carusel */

.jcarousel-clip
	float left
	position relative
	width 94%
	overflow hidden
	.item-product
		float left
		margin 0px 5px 10px 10px
		width 160px
		> a
			text-align center
		img
			/**text-indent -9999px*/
			border 1px solid #ccc
			font-size 0
			margin-bottom 10px
			max-height 150px
			max-width 150px
		.name
			font-size 14px
			font-size 14px
			height 38px
			overflow hidden
			a
				color #003399
		.price
			font-size 14px
			font-weight bold
			color #DF0B13
		.detail
			color #666666
			font-size 12px
			span
				display block

.jcarousel-next 
	float right
	width 3.5%
	cursor pointer
	padding-top 40px
	height 103px
	box-shadow -8px 0px 8px -4px rgba(0,0,0,0.25)

.jcarousel-prev 
	float left
	width 3%
	cursor pointer
	padding-top 40px
	box-shadow 8px 0 10px -5px rgba(0,0,0,0.25)
	height 108px

a.not-available
	font-size 17px

/* --Carusel */

/* --Mensaje modal*/

/* yellowbox */

.rbox
	border 1px solid #FBC2C4
	background none repeat scroll 0 0 #FBE3E4
	margin 0 0 10px
	padding 10px
	-moz-border-radius 3px
	-webkit-border-radius 3px
	border-radius 3px
	color #8A1F11
	ul
		list-style none


/* Aviso Adulto */

.message-modal
	> p
		font-size 12px
	ol li
		margin 10px 0
	h2
		font-size 16px
		font-weight normal
		height 25px
/* --Aviso Adulto */



/* --icon tip standar */

/* boton finalizar */



/* --boton finalizar */



/* Confirmacion pasarela */
.message-gateway-border
	border 1px solid #ccc
	margin 20px 0
	padding 20px
.confirmation-gateway
	text-align center
	.title-main
		text-align left
	p
	 text-align center
	.message-gateway
		display inline-block
		*display inline
		*zoom 1
		text-align left
	.message-des
		margin 20px
	.message-title
		font-size 20px
		font-weight bold
	label.control-label
		text-align left
	.form-horizontal
		*width 500px
		*margin 0 auto
		.control-group
			margin-bottom 0px
	button
		margin-top 20px


/* Denuncia un aviso */
.report-ad
	form
		margin 0 15px 17px
	.form-horizontal .control-group > label
		text-align left
		width 89px
	.form-horizontal .controls
		margin-left 87px
/* // Denuncia un aviso */
/* impreso individual */
.impress
	h3
		margin 0
		font-size: 18px
		line-height: 27px
	.header-impress
		height 28px
		background url('../img/header-bg-impress.jpg?version') repeat-x
	ul
		list-style none
		margin 0
		padding 0
		width 100%
	.red
		color red
		font-size 15px
		font-size 15px
		font-weight bold
		margin 3px
	.data-html
		overflow hidden
		position relative
		width 100%
	.text-impress
		float left
		margin 10px
	.content-impress
		background #FEFEFE
		min-height 200px
		height auto !important
		height 200px
		padding 10px 0
		img
			float left
			margin 10px 0

/* --impreso individual */

/* impreso grupal */
.list-result-products-grupal
	list-style none
	margin 0px
	padding 0
	float left
	width 100%
	.product-row
		float left
		width 100%
		margin 5px 0
		background #FCFCFC
	div
		float left
		padding 7px 0
	.description-product-large
		margin-left 5px
		width 782px !important
		padding 5px 0 0 0
	input,h3
		float left
	.conteiner-img
		margin 0px 10px 5px 5px
		width 75px
		height 75px
		text-align center
		display table-cell
		vertical-align middle
		padding 0
	h3
		color #000000
		display block
		width 86%
		*width 79%
		line-height 23px
		font-size 14px
		margin 5px 0 0 0
		max-height 50px
		overflow hidden
	.photo
		background #EDEDED
		border 1px solid #C8C6C6
		margin 0px
		max-width 75px
		max-height 75px
		text-align center
		*width 75px
		*height 75px
	span
		display block
	div.line-vertical
		height 83px
		width 2px
		border-right 1px solid #999999
		margin 5px 0
	div.detail-product
		width 155px
		margin-left 15px
	li.green
		background #E0EBCC
	li.yellow
		background #FFF5CC
	li.gray
		background #EBEBEB
/* --impreso grupal */

/* --formulario busqueda */

/* Scroll Top */
#toTop
	background url("../img/scrollTop.png") no-repeat scroll left top transparent
	border medium none
	bottom 10px
	display none
	height 51px
	overflow hidden
	position fixed
	right 10px
	text-decoration none
	text-indent -999px
	width 51px

/* --scroll top */


#change-email
	float left
	display block
	width 500px


/* Flechas de ordenamiento */
.row-asc
	background url('../img/arrowUpDown.png?version') 0 0 no-repeat
	width 12px
	height 8px

.row-desc
	background url('../img/arrowUpDown.png?version') -12px 0 no-repeat
	width 12px
	height 8px
/* -- Flechas de ordenamiento */

/* Formulario contestar preguntas */
.show-request-form
	display none
	label
		display block !important
		margin-bottom 10px
	textarea
		width 100%
	form
		width 630px !important


/* im informacion */
#my-info
	a
		display inline-block
		padding 0 0 0 10px
		*display inline
		*zoom 1
	h1
		*width 100%
#frm_confirm
	width 100%
	margin-left 10px
	h1
		font-size 20px
		width 100%
	.control-group > label
			width 94px
			text-align left
	.controls
		margin-left 120px
		input
			width 300px
		input[type="radio"]
			width 25px
	.red
		line-height 20px

/* editor de fotos */
.reputation
	.colum-1
		float left
		width 260px
	.colum-2
		float left
		width 486px
	.score
		background none repeat scroll 0 0 #EEE
		border 1px solid #CCCCCC
		float left
		height 145px
		padding 10px
		position relative
		width 88%
		border-radius 5px
		p.detail
			position absolute
			bottom 0
			font-size 11px
			font-style italic
	.total-qualifications
		border 1px solid #CCCCCC
		float left
		margin 10px 5px 0 0
		padding 10px
		width 88%
		border 1px solid #ccc
		border-radius 5px
		height 115px
	.my-data
		background: none repeat scroll 0 0 #EEE
		float left
		height 292px
		margin 0 10px 0 0
		padding 10px
		border-radius 5px
		border 1px solid #CCC
	.qualifications
		border 1px solid #CCCCCC
		float left
		height 145px
		padding 10px
		position relative
		width 104%
		border 1px solid #ccc
		border-radius 5px
	.dealings
		margin 10px 0px 0px 0px
		float left
		padding 10px
		width 104%
		border 1px solid #ccc
		border-radius 5px
		height 115px
	table
		th
			text-align left
			padding-bottom 14px
			padding-right 42px
			font-weight normal
		td
			padding 4px 0 8px
			border-bottom: solid 1px #ECECEC
	h3
		margin-bottom 10px
	.icon
		display block
		float left
		height 15px
		margin 2px 5px 0 0
		width 15px
	.positive-calification
		background url('../img/icon-set-wl.png?version') -299px -189px no-repeat
	.neutral-calification
		background url('../img/icon-set-wl.png?version') -299px -207px no-repeat
		width 17px
		height 17px
	.negative-calification
		background url('../img/icon-set-wl.png?version') -299px -243px no-repeat
	p.green b
		color #339900
		font-size 12px
	p.red b
		color red
		font-size 12px
	.odd
		background #F1F1F1
	.reputacion
		display block
		padding 10px 5px
		float left
		text-align right
		width 99%
	#list-recomendation
		list-style none
		float left
		width 100%
		padding 0
		margin 0
		li
			float left
			width 99%
			padding 7px
			> p
				margin 5px 0 5px 20px
		.positive
			background none repeat scroll 0 0 #FFFBEF
			.icon-recomendation
				background url('../img/icon-set-wl.png?version') -299px -189px no-repeat
				display inline-block
				height 17px  
				margin 0
				width 17px
		.neutral
			.icon-recomendation
				background url('../img/icon-set-wl.png?version') -299px -207px no-repeat
				display inline-block
				height 17px
				margin 0
				width 17px
		.negative
			.icon-recomendation
				background url('../img/icon-set-wl.png?version') -299px -243px no-repeat
				display inline-block
				height 17px
				margin 0
				width 17px
		h4
			font-size 14px
			font-weight bold
			height 18px
		a, span
			display inline
	.comment-user
		background: none repeat scroll 0 0 #F0F0F0
		border 1px solid #CCCCCC
		display block
		font-size 12px
		margin 5px 0 5px 20px
		overflow auto
		padding 6px 8px 8px
		p
			margin 0
#register-confirm-email
	.colum-left
		width 750px
		float left
	.colum-right
		width 200px
		float left
	.content-confirm-email
		text-align center
		width 695px
		margin auto
		> p:first-child
			text-align left
			font-size 14px
	.text-confirm-email
		border 1px solid #ccc
		background #EAEAEA
		padding 10px
		border-radius 5px
		-moz-border-radius 5px
		-webkit-border-radius 5px
	a.inline
		display inline
	ol
		text-align left
	.detail-confirm-email
		font-size 11px
		margin 25px 0 0 0
		p
			font-size 11px
			text-align center
		b
			display inline-block
			*display inline
			*zoom 1
			font-size 13px
			margin 0 0 10px
			width 210px
	.tip
		font-size 11px
	ul.steps-progress
		width 150px
		margin-top 5px
#valid-data
	.content-valida-data
		width 380px
		margin auto
	.form-horizontal
		.control-group
			> label
				width 150px
				text-align left
		.controls
			margin-left 84px
	.rbox
		margin 0 0 22px
	.align-center
		text-align center
#change-password-form
	width 380px
	margin auto

#photo-main
	width 300px
	height 300px
	display table-cell
	vertical-align middle


/*jcarousel*/
/*controls*/
/*item*/
.jcarousel-clip .item-product img
	margin-bottom 0
.wrapper-image
	height 150px
	display block
	clear both
	margin-bottom 10px
	.inner-wrapper-image
		height 150px
		display table-cell
		width 150px
		vertical-align middle
		text-align center
		img
			max-width 150px
			max-height 148px
			*width 150px
			*height 150px
.wrapper-image span
	display inline-block
	height 100%






/*carusel galeria*/
.galeria-w539
	width 539px !important
	float right

/* validar correo */
#validate-email
	margin-top 10px
	.control-group > label.important
		color #FF0000
		font-size 20px
		padding-left 10px
		width 15px
	.control-group > label
		text-align left
		width 135px
	.form-horizontal .controls
		margin-left 170px
	form
		width 400px
		margin 25px auto
	.tip-footer
		background #DFDFDF
		width 98%
		height 40px
		padding 10px
		border-radius 5px
		-webkit-border-radius 5px
		-moz-border-radius 5px
#validate-email-finish
	margin-top 10px
	.message-finish
		text-align center
.f-tip
	.icon-footer-tip
		float left
		margin-right 10px
	p
		margin-left 37px
		text-align left
.error-msg
	margin 20px 0
	#error404
		float left
		background #F7F7F7
		padding 20px
		width 920px
		a
			display inline !important
	.column-left
		float left
		width 650px
		ffarial()
	h2
		fftre()
		font-weight bold
		font-size 20px
	ul
		clear both
		font-size 14px
		margin-top 35px
	li
		line-height 28px
	p
		line-height 29px
		font-size 14px
	.column-right
		float right
	.img-admiration
		background url('../img/404-img.jpg') 0 0
		width 51px
		height 92px
		float left
	.text-error
		margin-left 65px
	.img-404
		background url('../img/404-img.jpg') -45px 0
		width 264px
		height 283px
	.steps
		float none
		margin 40px auto 20px
.pasarela-ok
	.control-group
		border-top 1px solid #CCC
		margin-bottom 10px
		padding-top 10px
		&.first
			border none
			padding 0
	.control-label
		margin 0
		padding 0
	.form-horizontal .controls
		margin-left 170px
	.form-horizontal
		width 350px
		margin 35px auto 0
		&.mb20
			margin-bottom 20px
/* galeria 3d */
.gallery-3d
	.carousel-container
		.in-center img
			max-width 300px
			-moz-transition all 2s
			-webkit-transition all 2s
			-o-transition all 2s
			transition all 2s
		img
			max-width 100px
/* ocultando objetos */
.hidden-dom
	display: none
/* --ocultando objetos */

/*ie6*/
.lt-ie8.lt-ie7 .selector-ie6
	display block

/*ie7*/
.lt-ie9.lt-ie8 .selector-ie7
	display block
	
/*
Media Queries
*/

@media (min-device-width:1024px) and (max-width:509px),(max-device-width:480px) and (orientation:portrait)
	display block
	